
<div class="main-content">

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3><i class="icon-cogs"></i>护士列表</h3>
                    </div>
                </div>
                <form class="form-horizontal" action="{:U('/Admin/Nurse/index')}">
                    <div class="form-group">
                        <label class="control-label" style="width:80px;">护士名称 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-medium" name="keywords">
                            <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover" style="text-align:center">
                    <thead>
                    <tr><th width="50px" style="text-align:center">护士编号</th>
                        <th width="75px" style="text-align:center">图像</th>
                        <th width="100px" style="text-align:center">姓名</th>
                        <th width="50px" style="text-align:center">性别</th>
                        <th width="50px" style="text-align:center">年龄</th>
                        <th width="100px" style="text-align:center">电话</th>
                        <th width="100px" style="text-align:center">城市</th>
                        <th width="100px" style="text-align:center">详细地址</th>
                        <th width="100px" style="text-align:center">账户余额</th>
                        <th width="50px" style="text-align:center">认证状态</th>
                        <th width="200px" style="text-align:center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name='nurseList' key='k' item='v'>
                        <tr>
                            <td>{$firstno++}</td>
                            <td><if condition="$v.photo eq ''"><img src="{$Think.const.IMG_URL}pgtu.jpg" style="width:75px;height:75px;border-radius:50%;margin:0px"><else /><img src="__PUBLIC__/{$v.photo}" style="width:75px;height:75px;border-radius:50%;margin:0px"></if></td>
                            <td>{$v.username}</td>
                            <td>{$v['sex']?"男":"女"}</td>
                            <td>{$v.age}</td>
                            <td>{$v.iphone}</td>
                            <td>{$v.city}</td>
                            <td>{$v.area}</td>
                            <td>{$v.money}</td>  
                            <td>{$v['status']?"<span style='color:green'>已认证</span>":"<span style='color:red'>未认证</span>"}</td> 
                            <td style="text-align:left">
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <a class="green moreinfo" href="__MODULE__/Nurse/upd/userid/{$v.userid}"> <i class="icon-eye-open bigger-130"></i>&nbsp;<span>详细资料</span> <input type="hidden" name="userid" value="{$v.userid}"></a>
                                    <if condition="$v.status eq 0">
                                    <a class="green" href="__MODULE__/Nurse/confirm/userid/{$v.userid}"> <i class="icon-ok bigger-130"></i>&nbsp;认证 </a><else />
                                    </if>
                                    <if condition="$v.status eq 1">
                                    <a class="red detail" href="__MODULE__/Nurse/cancel/userid/{$v.userid}"> <i class="icon-remove bigger-130"></i>&nbsp;取消认证 </a><else />
                                    </if>
                                </div>
                            </td>
                            
                        </tr>
                    </foreach>
                    </tbody>
                    <tr></tr>
                </table>
                <div class="green-black">{$page}</div>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
