        <div class="main">
            <form action="__MODULE__/Assess/addCount" method="post" class="cash_z">
                    <div class="form1 cash">
                        <div class="borBot">
                            <span>账户类型：</span>
                            <select class="shenfen" name="count_type" style='font-size:0.875rem;margin-left:0.5rem' id="countType">
                                <option value='1'>支付宝</option>
                                <option value='2'>银行卡</option>
                            </select>
                        </div>
                        <div class="borBot pay-alipay">
                            <span>支付宝：</span>
                            <input name="count_no" type="text" placeholder="请输入支付宝账号">
                        </div>
                        <div class="borBot pay-bank">
                            <span>银行(名)：</span>
                            <input name="bankname" type="text" placeholder="请输入银行名">
                        </div>
                        <div class="borBot pay-bank">
                            <span>银行卡号：</span>
                            <input name="card_no" type="text" placeholder="请输入银行卡号">
                        </div>
                        <div class="borBot">
                            <span>收款姓名：</span>
                            <input name="count_name" type="text" placeholder="请输入账户名">
                        </div>            
                        <div class="cashBtnbox">
                            <button class="submit cashBtn" type="submit">确定添加</button>
                        </div>
                    </div>
               </form>
        </div>   
    </div>
    <script type="text/javascript" src="{$Think.const.MBJS_URL}/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
        $(".pay-bank").css("display","none");
        $(function(){
            $("#countType").change(function(){
                if($(this).val() == '1'){
                    $(".pay-alipay").css("display","block");
                    $(".pay-bank").css("display","none");
                }else if($(this).val() == '2'){
                    $(".pay-alipay").css("display","none");
                    $(".pay-bank").css("display","block");
                }
            })
        })
    </script>
    <script type="text/javascript" src="{$Think.const.MBJS_URL}/base.js"></script>

