        <div class="main">
            <div class="pgzx">
                <span class="pgzx_tu" style="background-image:url({$info.photo})"></span>
                <span class="pgzx_dh">{$info.iphone}</span>
            </div>
            <ul class="txNav">
                <li>
                    <a href="#" class="borRight">
                        <span><if condition="$info.unfinished eq ''">0<else />{$info.unfinished}</if><em>个</em></span>
                        <span>待评估</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="borRight">
                        <span><if condition="$info.finishing eq ''">0<else />{$info.finishing}</if><em>个</em></span>
                        <span>评估中</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><if condition="$info.finished eq ''">0<else />{$info.finished}</if><em>个</em></span>
                        <span>已评估</span>
                    </a>
                </li>
            </ul>
            <ul class="userList borBot">
                <li class="borTop">
                    <a href="__MODULE__/Assess/allOrder">
                        <i class="ico"></i>
                        我的订单
                        <i class="moreUser"></i>
                    </a>
                </li>
            </ul>
            <ul class="userList borBot">
                <li class="borTop">
                    <a href="__MODULE__/Assess/xinxi">
                        <i class="ico  ico_07"></i>
                        个人信息
                        <i class="moreUser"></i>
                    </a>
                </li>
                <if condition="$info.id_status eq '1'">
                <li class="borTop">
                    <a href="__MODULE__/Assess/timetable">
                        <i class="ico ico_08"></i>
                        作息时间
                        <i class="moreUser"></i>
                    </a>
                </li>
                </if>
            </ul>
            <ul class="userList borBot">
                <li class="borTop">
                    <a href="__MODULE__/Assess/cash">
                        <i class="ico ico_cash"></i>
                        提现 
                        <i class="moreUser"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="{$Think.const.MBJS_URL}jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$Think.const.MBJS_URL}base.js"></script>