        <div class="main">
        <form action="__MODULE__/Assess/xinxi" method="post" enctype="multipart/form-data">
            <ul class="userList zrXx">
                <li class="borBot">
                    <a href="#">
                        姓名  
                        <span><input style="color:#636363;font-size:100%;text-align:right" type="text" name="username" value="{$info.username}"></span>                      
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        性别                        
                         <span style="color:#636363;font-size:100%;text-align:right"><input type="radio" name="sex" value="0" {$info['sex']?"":"checked"}>女&nbsp;<input type="radio" name="sex" value="1" {$info['sex']?"checked":""}>男</span>    
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        照片   
                       <span class="xinx_sc">上传相片</span>   
                       <span class="xinx_xz"><input name="photo"  type="file"> </span>                 
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        年龄   
                        <span><input style="color:#636363;font-size:100%;text-align:right" type="text" name="age" value="{$info.age}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        城市   
                        <span>
                        <select name="province_id" class="province selectarea">
                                <option value="0"><if condition="$info.city eq ''">省<else />{$info.city}</if></option>
                                <foreach name="provincelist" item="provinceinfo">
                                <option value="{$provinceinfo.id}">{$provinceinfo.name}</option>
                                </foreach>
                            </select>
                            <select name="city_id" class="city selectarea selectareahd">
                            </select>
                            <select name="country_id" class="country selectarea selectareahd">
                            </select>
                        </span>      
                        <input type="hidden" name="city" value="{$info.city}">                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        电话   
                        <span><input type="text" style="color:#636363;font-size:100%;text-align:right" name="iphone" value="{$info.iphone}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        工作单位   
                        <span><input style="color:#636363;font-size:100%;text-align:right" type="text" name="company" value="{$info.company}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        学校   
                        <span><input style="color:#636363;font-size:100%;text-align:right" type="text" name="school" value="{$info.school}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        详细地址   
                        <span><input style="color:#636363;font-size:100%;text-align:right" type="text" style="text-align:right;color:#636363" name="area" value="{$info.area}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
            </ul>
            <div class="updateBox">
                <input type="hidden" name="oldphoto" value={$info.photo}>
                <button class="submit updateBtn">保 存</button>
            </div>
            <script>
                $(function(){
                    var provinceid,cityid,countryid; 
                    var provincename,cityname,countryname;
                    var areaname;
                    $(".province").change(function(){
                        var index = $(this).get(0).selectedIndex;
                        if(index == 0){
                            return;
                        }else{
                            $(".city").removeClass("selectareahd").siblings('.selectarea').addClass('selectareahd');
                            provinceid = $(this).val();
                            provincename = $(".province option:selected").text();
                            //alert(provincename);
                            $.post("__MODULE__/Assess/getcity",{'upid':provinceid},function(data){
                                if(data.error ==  1){

                                }else{
                                    var cityhtml = "<option value='0'>市</option>";
                                    var datalist = data.content;
                                    for(var i in datalist){
                                        cityhtml+="<option value='"+datalist[i].id+"'>"+datalist[i].name+"</option>";
                                    }
                                    $(".city").eq(0).html(cityhtml);
                                }
                            })
                        }
                        //计算出选择省在数组中的下标
                    })
                    $(".city").change(function(){
                        var index = $(this).get(0).selectedIndex;
                        if(index == 0){
                            return;
                        }else{
                            $(".country").removeClass("selectareahd").siblings('.selectarea').addClass('selectareahd');
                            cityid = $(this).val();
                            cityname = $(".city option:selected").text();
                            //alert(cityid);
                            $.post("__MODULE__/Assess/getcity",{'upid':cityid},function(data){
                                if(data.error ==  1){

                                }else{
                                    var countryhtml = "<option value='0'>县/区</option>";
                                    var datalist = data.content;
                                    for(var i in datalist){
                                        countryhtml+="<option value='"+datalist[i].id+"'>"+datalist[i].name+"</option>";
                                    }
                                    $(".country").eq(0).html(countryhtml);
                                }
                            })
                        }
                        //计算出选择省在数组中的下标
                    })
                    $(".country").change(function(){
                        var index = $(this).get(0).selectedIndex;
                        if(index == 0){
                            return;
                        }else{
                            countryid = $(this).val();
                            countryname = $(".country option:selected").text();
                            areaname = provincename+cityname+'市'+countryname;
                            $(".country option:selected").text(areaname);
                            $("input[name='city']").val(areaname);
                        }
                    })
                })
                /*var cityPicker = new HzwCityPicker({
                    data: data,
                    target: 'cityChoice',
                    valType: 'k-v',
                    hideCityInput: {
                        name: 'city',
                        id: 'city'
                    },
                    hideProvinceInput: {
                        name: 'province',
                        id: 'province'
                    },
                    callback: function(){
                        
                    }
                });

                cityPicker.init();*/
            </script>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{$Think.const.MBJS_URL}/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$Think.const.MBJS_URL}/base.js"></script>