<script type="text/javascript" src='{$Think.const.JS_URL}jquery-1.7.2.min.js'></script>
<script type="text/javascript" src='{$Think.const.JS_URL}uploadPreview.js'></script>
<div class="main-content">
    <div class="breadcrumbs">
        <ul>
            <li > <a href="__MODULE__/Link/tianjia">添加链接 </a> </li>

        </ul>
        <!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
    <form action="__SELF__" method="post" enctype='multipart/form-data' class="form-horizontal">
        <div class="form-group">
            <label class="control-label">名称 : </label>
            <div class="controls pull-left">
            <input type="text" class="input-large" name="name">
            <span class="help-inline red"> * </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">链接地址 : </label>
            <div class="controls pull-left">
                <input type="text" class="input-large" name="url">
                <span class="help-inline red"> * </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"> 图标 : </label>
            <div class="controls pull-left">
                <input type="file" class="input-large" id="pic" name="pic" >
                <div id="pic_div"><img id='pic_img' width='160' height='100'></div>
            </div>
        </div>
        <script type='text/javascript'>
            $(function(){
                new uploadPreview({ UpBtn: "pic", DivShow: "pic_div", ImgShow: "pic_img" });
            });
        </script>



        <div class="form-group">
        <label class="control-label">描述 : </label>
        <div class="controls pull-left">
        <textarea class="input-large" style="margin: 0px; height: 115px; width: 530px;" name="description"></textarea>
        </div>
        </div>


        <div class="form-actions">
        <input id="bsubmit" type="submit"  class="btn btn-sm btn-primary" value="保存"/>
        </div>
    </form>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

