<!--banner-->

<!--banner-->

<!--第一通栏-->
<div class="column-c pt10 ser" style="height:50px">
  <div class="ser-left fl">
    <p class="ser-tit fl"><a href="{:U('Index/index')}" class="bule fwb">首页</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a href="{:U('Bbs/index',array('lan_id'=>7))}">长青论坛</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a href="{:U('Famous/famousbbs',array('lan_id'=>36))}">名家讲坛</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" />{$famousinfo.f_name}</p>
  </div>
  <if condition="$Think.session.flag eq ''">
  <p class="fr"><a href="__MODULE__/User/login">登录</a>｜<a href="__MODULE__/User/register">注册</a></p>
  <else />
    <dl class="set-lis fr">
      <dt><a href="__MODULE__/User/ucenter"><img src="{$Think.session.userInfo.userhead}" alt="" /></a></dt>
      <dd><a href="__MODULE__/User/ucenter" style="line-height:40px">{$Think.session.userInfo.username}</a>&nbsp;|&nbsp;<a href="__MODULE__/User/logout" style="line-height:40px;color:#999;cursor:pointer">退出</a><!-- <br />
        <span class="l-gray fs12"><img src="{$Think.const.HIMG_URL}images_92.jpg" alt="" />&nbsp;浙江省</span> --></dd>
    </dl>
  </if>

</div>
<!--第二通栏-->
<div class="column-c pt10 pb30">
  <!--****左边通栏****-->
  <div class="set-lis-l fl">
    <!--****左边第一通栏****-->
    <ul class="set-lis_lb fl">
      <foreach name="slanders" item="info">
      <li>
        <dl class="fam-t fl pt10 pb10">
          <dt><a href="__MODULE__/Famous/slanders1/f_id/{$info.f_id}"><img style="border-radius:50%" src="{$info.f_photo}" alt="" /></a></dt>
          <dd><span class="bule pr10"><a href="__MODULE__/Famous/slanders1/f_id/{$info.f_id}">{$info.f_name}</a></span>|&nbsp;&nbsp;<a href="__MODULE__/Famous/detail/sland_id/{$info.sland_id}">{$info.title}</a></dd>
        </dl>
        <p class="set-lis-nr fl">{$info.content}</p>
        <p class="set-lis-plgz fl  fs12">{$info.add_time|date="Y-m-d H:i:s",###}</p>
        <p class="set-lis-plgz fr fs12"><span class="pr15"><img src="{$Think.const.HIMG_URL}images_06.png" alt="" />{$info.comments}</span><span class="pr15 fl"><img src="{$Think.const.HIMG_URL}images_07.png" alt="" />{$info.views}</span><!-- <a href=""><img src="{$Think.const.HIMG_URL}images_08.png" /></a> --></p>
      </li>
      </foreach>
    </ul>
    <!--****左边第二通栏****-->
    <ul class="page">
      {$page}
    </ul>
  </div>
  <!--****右边通栏****-->
  <div class="set-lis-r fr">
    <!--****右边第一通栏****-->
    <dl class="fam-t dt img fl pt10 pb10" style="clear:both">
      <dt><a href="__MODULE__/Famous/slanders1/f_id/{$famousinfo.f_id}"><img style="border-radius:50%" src="{$famousinfo.f_photo}" alt="" /></a></dt>
      <dd><a href="__MODULE__/Famous/slanders1/f_id/{$famousinfo.f_id}">{$famousinfo.f_name}</a>
        </dd>
    </dl>
    <!--****右边第一通栏****-->
    <div class="set-lis-tj fl">
      <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_107.jpg" alt="" /></p>
      <foreach name="tuijianlist" item="info">
      <dl class="fam-t dt img fl pt10 pb10" style="clear:both">
        <dt><a href="__MODULE__/Famous/slanders1/f_id/{$info.f_id}"><img style="border-radius:50%" src="{$info.f_photo}" alt="" /></a></dt>
        <dd><a href="__MODULE__/Famous/slanders1/f_id/{$info.f_id}">{$info.f_name}</a>
          </dd>
      </dl>
      </foreach>
    </div>
    <!--****右边第二通栏****-->
    <div class="set-lis-tj fl">
      <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_108.jpg"  alt=""/></p>
      <ul class="set-lis-list fl pt15">
        <!-- <dl class="set-lis-pic fl pb10">
          <dt><a href="ser_final.html"><img src="{$Think.const.HIMG_URL}images_112.jpg"  alt=""/></a></dt>
          <dd><a href="ser_final.html">对电信诈骗受害者进行赔偿，银行会更有动力阻止电信诈骗。</a></dd>
        </dl> -->
        <foreach name="hotlist" item="info">
        <li><a href="__MODULE__/Famous/detail/sland_id/{$info.sland_id}">{$info.title}</a></li>
        </foreach>

      </ul>
    </div>
  </div>
</div>
