<html>
<head>
    <meta charset="UTF-8">
    <title>支付demo</title>
    <link rel="stylesheet" href="__ROOT__/Apps/Mobile/View/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="__ROOT__/Apps/Mobile/View/js/myjs.js"></script>
    <script type="text/javascript">var ROOT = "__ROOT__";   </script> 
 <style type="text/css">
 div{width: 33.3%;float:left;color: white;height: 200px;line-height: 10em;text-align: center;font-size: 20px}
 </style>
</head>
<body>
<a href="{:U('Mobile/Alipay/doAlipay')}"><div style="background:#0089cd "><b>支付宝支付</b></div></a>
<a href="{:U('Mobile/WxPay/pay')}"><div style="background:#44b549"><b>微信支付</b></div></a>
<a href="{:U('Mobile/UnionPay/doPay')}"><div style="background:#FF8000"><b>银联支付</b></div></a>
</body>
</html> 