<!--*****header*****-->
<div class="main">
    <!--*****banner*****-->
    <div class="su-banner">
        <foreach name="slides" item="slide">
            <img src="{$slide.picmobile|substr=###,1}" alt="">
        </foreach>
    </div>
    <!--*****bannerend*****-->

    <!--*****menu*****-->
    <section class="su-menu-e b-white">
        <ul>
            <foreach name="category" item="cateinfo">
                <li <if condition="ACTION_NAME eq $cateinfo['action']">class="cur"</if>><a href="__MODULE__/{$cateinfo['ctrl']}/{$cateinfo['action']}">{$cateinfo.cat_name}</a></li>
            </foreach>
        </ul>
    </section>
    <!--*****menuend*****-->
    <!--*****su-con*****-->
    <section class="su-case b-white">
       <ul class="jsfw">
            <li>
                <img src="{$Think.const.HIMG_URL}images_02.png" alt="">
                <h3>工程设计</h3>
                <p>提供桥梁、公路桥梁、市政工程、特种工程、各类工业与民用建筑等领域的预应力专项设计</p>
            </li>
            <li>
                <img src="{$Think.const.HIMG_URL}images_03.png" alt="">
                <h3>工程施工</h3>
                <p>专业承揽缓粘结预应力、无粘结预应力、有粘结预应力的的专项工程施工</p>
            </li>
            <li>
                <img src="{$Think.const.HIMG_URL}images_04.png" alt="">
                <h3>产品检测</h3>
                <p>提供材料组成分析、产品性能检测、现场非破坏性检测等的前端检测分析服务</p>
            </li>
            <li>
                <img src="{$Think.const.HIMG_URL}images_05.png" alt="">
                <h3>技术支持</h3>
                <p>提供产品选型、专项研发、软件支持、系统培训、现场指导、售后支持等全方位的服务支持</p>
            </li>
        </ul>
    </section>
    <!--*****su-conend*****-->
</div>