<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/linkage/edit">
    <input type="hidden" name="post[id]" value="{$row.id}" />

    <table class="table-list">
    <tbody>

        <tr>
            <td class="td-label"><label>上级菜单：</label></td>
            <td class="td-input">
                <div id="select_linkage"></div>
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>菜单名称：</label></td>
            <td class="td-input">
                {if $row.id}
                <input type="text" class="form-i w200" name="post[name]" value="{$row.name}" />
                {else}
                <textarea name="post[name]" style="height:90px;"></textarea>
                <div class="form-tip">批量添加菜单，一行代表一个（添加一级联动时，默认只添加一行）</div>
                {/if}
            </td>
        </tr>

        <tr id="markTR">
            <td class="td-label"><label>菜单标识：</label></td>
            <td class="td-input">
                <input type="text" class="form-i w200" name="post[mark]" value="{$row.mark}" />
            </td>
        </tr>

        <tr class="seoTR">
            <td class="td-label"><label>菜单描述：</label></td>
            <td class="td-input">
                <textarea name="post[description]">{$row.description}</textarea>
            </td>
        </tr>

        <tr class="tr-btn">
            <td class="td-label"></td>
            <td class="td-input">
                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
            </td>
        </tr>

    </tbody>
    </table>

    </form>
</div>

<script type="text/javascript">
$.loadJs('/admin/js/manage/linkage.js',function(){
    linkage.chang_parent("{$data.parentid}",0);
});
</script>