<!--*****footer*****-->
<!--<footer>-->
    <!--<ul>-->
        <!--<li <if condition="CONTROLLER_NAME eq 'Index'">class="shou_a hover"<else/>class="shou"</if>><a href="__MODULE__/Index/index"><i>&nbsp;</i>首页</a></li>-->
        <!--<li <if condition="CONTROLLER_NAME eq 'News'">class="news_a hover"<else/>class="news"</if>><a href="__MODULE__/News/industries"><i>&nbsp;</i>新闻资讯</a></li>-->
        <!--<li <if condition="CONTROLLER_NAME eq 'Exhibition'">class="pro_a hover"<else/>class="pro"</if>><a href="__MODULE__/Exhibition/product"><i>&nbsp;</i>产品与服务</a></li>-->
        <!--<li <if condition="CONTROLLER_NAME eq 'User'">class="man_a hover"<else/>class="man"</if>><a href="__MODULE__/User/ucenter"><i>&nbsp;</i>我</a></li>-->
    <!--</ul>-->
<!--</footer>-->
<!--*****footer*****-->
