{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/payment/submit">
    <input type="hidden" name="id" value="{$row.pay_id}" />
    <input type="hidden" name="post[pay_code]" value="{$row.pay_code}" />

    <table class="table-list">
    <tbody>

        <tr>
            <td class="td-label"><label>支付方式名称：</label></td>
            <td class="td-input">
                <input type="text" class="form-i w300" name="post[pay_name]" value="{$row.pay_name}" />
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>支付方式描述：</label></td>
            <td class="td-input">
                <textarea name="post[pay_desc]">{$row.pay_desc|stripcslashes}</textarea>
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>支付方式图片：</label></td>
            <td class="td-input">
                {$row.html_thumb}
            </td>
        </tr>

        <tr>
            <td class="td-label">支付手续费：</td>
            <td class="td-input">
                {if $row.is_cod }<input name="post[pay_fee]" type="hidden" value="{$row.pay_fee|default:0}" />配送决定
                {else}<input name="post[pay_fee]" type="text" value="{$row.pay_fee|default:0}" class="form-i" />{/if}
            </td>
        </tr>

        <tr>
            <td class="td-label">货到付款？</td>
            <td class="td-input">
                {if $row.is_cod == "1"}是{else}否{/if}
                <input type="hidden"  name="post[is_cod]" value="{$row.is_cod}" />
            </td>
        </tr>

        <tr>
            <td class="td-label">在线支付？</td>
            <td class="td-input">
                {if $row.is_online == "1"}是{else}否{/if}
                <input type="hidden" name="post[is_online]" value="{$row.is_online}" />
            </td>
        </tr>

        {if $row.pay_config}
        <tr class="table-h3">
            <td colspan="2">接口配置</td>
        </tr>

        {foreach from=$row.pay_config item=config key=key}
        <tr>
            <td class="td-label"><label>{$config.label}：</label></td>
            <td class="td-input">
                <!-- {if $config.type == "text"} -->
                <input name="cfg_value[]" type="{$config.type}" value="{$config.value}" class="form-i w300" />
                {if $config.name eq "alipay_partner"}
                <a href="javascript:void(0)" style="font-weight:bold; color:#F00;"  onclick="show();return false;"> &nbsp; {$lang.getPid}</a>

                {/if}
                <!-- {elseif $config.type == "textarea"} -->
                <textarea name="cfg_value[]" cols="80" rows="5">{$config.value}</textarea>
                <!-- {elseif $config.type == "select"} -->
                <select name="cfg_value[]">{html_options options=$config.range selected=$config.value}</select>
                <!-- {/if} -->
                <input name="cfg_name[]" type="hidden" value="{$config.name}" />
                <input name="cfg_type[]" type="hidden" value="{$config.type}" />
                <input name="cfg_lang[]" type="hidden" value="{$config.lang}" />
            </td>
        </tr>
        {/foreach}
        {/if}

        <tr class="tr-btn">
            <td class="td-label"></td>
            <td class="td-input td-button">
                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
            </td>
        </tr>

    </tbody>
    </table>

    </form>
</div>

