
{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>新农缘天下商城</title>
    <link href="{$Think.const.HCSS_URL}basic.css" type="text/css" rel="stylesheet" />
    <link href="{$Think.const.HCSS_URL}style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{$Think.const.HJS_URL}jquery-1.7.2.min.js"></script>


    <link rel="stylesheet" href="{$Think.const.HCSS_URL}personal-reset.css" />
    <link rel="stylesheet" href="{$Think.const.HCSS_URL}personal-style.css" />
    <link rel="stylesheet" href="{$Think.const.HCSS_URL}swiper.min.css"/>
</head>

<body>
<header><a class="head_back1" href="Javascript:window.history.go(-1)">&nbsp;</a>
    <div class="headTit">招商项目详情</div>
    <a class="head_back2">&nbsp;</a> </header>

<ul class="dj_xhk fr">
    <p class="arrow-up fl"></p>
    <li><a href="{:U('index')}">商家联盟首页</a></li>
    <!--<li><a href="{:U('News/type')}">新闻分类</a></li>-->
</ul>
<script type="text/javascript">
    $(".head_back2").click(function(){
        $(".dj_xhk").slideToggle("1000");
    });
</script>

    <section >
        <div class="jour">
            <h2>{$info[0]['title']}</h2>
            <h5>{$info[0]['add_time']|date='Y-m-d H:i:s',###}</h5>
            {$info[0]['content']}
        </div>
    </section>


<script src="{$Think.const.HJS_URL}iscroll4.js"></script>
<script src="{$Think.const.HJS_URL}jquery-1.8.2.min.js"></script>
</body>
</html>




