{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>新农缘天下商城</title>
    <link href="{$Think.const.HCSS_URL}basic.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{$Think.const.HCSS_URL}personal-reset.css" />
    <link rel="stylesheet" href="{$Think.const.HCSS_URL}personal-style.css" />
    <script src="{$Think.const.HJS_URL}jquery-1.8.2.min.js"></script>
    <meta charset="utf-8">
    <style>

.app_main p span { display: block; height: 1.875rem; line-height: 1.875rem; font-size: 0.8rem; margin-right: 0.5rem; padding-left: 0.1rem; float: left; color: #656565; }
.app_main1 ul li span { display: block; height: 1.875rem; line-height: 1.875rem; font-size: 0.8rem; margin-right: 0.5rem; float: left; color: #656565; }
.dj_xhk {width:7rem; padding: 0.500rem 0 0.250rem; background: rgba(0,0,0,0.6); font-size: 0.900rem; margin-right: 0.500rem; border-radius: 0.2rem; -webkit-border-radius: 0.2rem; position: absolute; right: 0rem; display: none; z-index: 20; }
.dj_xhk li { width: 100%; float: left; border-bottom: 1px #CCC solid; line-height: 2.200rem; color: #FFF; }
.dj_xhk li:last-child { border-bottom: none; }
.dj_xhk li a { color: #FFF; padding: 0rem 0.500rem; display: block; text-align:center; }
.dj_xhk li a:hover { color: #dd0045; background: #fff; }
.arrow-up { width: 0; height: 0; border-left: 0.500rem solid transparent; border-right: 0.500rem solid transparent; border-bottom: 0.500rem solid #000; position: absolute; right: 1rem; top: -0.500rem; z-index: 21; }
.head_back1 { height: 3.200rem; width: 3.500rem; float: left; background: url("{$Think.const.HIMG_URL}z_sjx1.png") no-repeat center; background-size: 0.800rem 1.300rem; text-align: center; color: #FFF; font-size: 1.300rem; padding-top: 1.2rem; display: block; }
.head_back2 { height: 3.200rem; width: 3.500rem; float: right; background: url("{$Think.const.HIMG_URL}dian.gif") no-repeat center; background-size: 1.300rem 2.200rem; text-align: center; color: #FFF; font-size: 1.300rem; padding-top: 1.2rem; display: block; position: relative; }
</style>
    </head>
    <body>
    <div class="container">
    <header><a class="head_back1" href="Javascript:window.history.go(-1)">&nbsp;</a>
    <div class="headTit">所需资源</div>
    <a class="head_back2">&nbsp;</a> </header>
      <ul class="dj_xhk fr">
        <p class="arrow-up fl"></p>
        <li><a href="{:U('Agriculture/index')}">商家联盟首页</a></li>
      </ul>
      <script type="text/javascript">
        $(".head_back2").click(function(){
            $(".dj_xhk").slideToggle("1000");
        });
    </script>
      <section>
        <form action="" method="post" enctype='multipart/form-data'>
          <div class="app_nav">
            <p>资源填写</p>
          </div>
          <div style=" width: 100%;">
            <div class="app_main">
              <div style="clear: both"></div>
              <p><i>*</i><span>资源标题：</span>
                <input id="title" type="text" placeholder="请输入资源名称">
              </p>
            </div>
            <div style="clear: both"></div>
            <div class="app_main1">
              <ul>
                <li><i>*</i><span>资源描述：</span></li>
                <li style=" margin-top:0rem;">
                  <p>
                    <textarea id="introduce" cols="42" rows="10" placeholder="请简单描述资源情况"></textarea>
                  </p>
                </li>
              </ul>
            </div>
            <div style="clear: both"></div>
            <div class="app_main2" >
              <input id="bsubmit" type="button" value="申　　请"/>
            </div>
          </div>
        </form>
      </section>
      <script type="text/javascript">
        $(function(){
            $('#bsubmit').click(function(){
                var title = $('#title').val();
                if(title == ''){
                    alert('标题不能为空');
                    return false;
                }
                var introduce = $('#introduce').val();
                if(introduce == ''){
                    alert('描述不能为空');
                    return false;
                }

                $.ajax({
                    url:"__MODULE__/Agriculture/needshen",
                    data:{'introduce':introduce,'title':title},
                    dataType:'json',
                    type:'post',
                    success:function(data){
                        if(data.title && data.introduce !== 'empty'){
                            alert('感谢您的申请，工作人员会及时与您联系!');

                        }
                    }
                });
            });
        });
    </script>
    </div>
</body>
    <script src="{$Think.const.HJS_URL}iscroll4.js"></script>
    <script src="{$Think.const.HJS_URL}jquery-1.8.2.min.js"></script>
    <script>
    $("span").click(function(){
        $(".app_pos").slideToggle();
    });


</script>
</html>
