<h3 class="info-tag">
    <a class="uiBtn r BtnGreen" href="#!wxmedia/appmsg/add">添加图文</a>
    <a class="uiBtn r BtnBlue" style="margin-right:5px" href="#!wxmedia/appmsg/addMutil">添加多图文</a>
    素材管理<span></span>
</h3>
{literal}
<style type="text/css">
</style>{/literal}
<div class="html-box">

    <table class="tb-goods" style="width:100%">
        <thead>
        <tr>
            <th class="oid" colspan="3">图文</th>

            <th class="w80">作者</th>
            <th class="w100">正文显示封面</th>
            <th class="w120">点击数</th>
            <th>操作</th>
        </tr>
        </thead>

    {foreach from=$list item=wxitem key=k}
        <tr><td colspan="10" class="sep-row"></td></tr>
        <tr class="order-head"><td colspan="10">
            {if count($wxitem.items)==1}单图文消息{else}多图文消息{/if}，
            创建时间：<span class="order-date">{date('Y-m-d H:i:s',$wxitem.c_time)}</span>，
            修改时间：<span class="order-date">{date('Y-m-d H:i:s',$wxitem.c_time)}</span>

            <a class="uiBtn BtnXs" style="display:none" href="javascript:;" rel="{$wxitem.id}"><i class="iconfont">&#xe633;</i><span>查看预览</span></a>
        </td></tr>

        {foreach from=$wxitem.items item=m key=index}
        <tr>
            <td class="bdl w5"></td>
            <td class="w70"><img src="{$m.imgurl_thumb}" width="{$m.thumb_size.width}" height="{$m.thumb_size.height}" /></td>
            <td><div class="oi-name">{$m.title}</div></td>

            <td class="ac bdr bdl">{if $m.author}{$m.author}{else}-{/if}</td>

            <td class="ac bdr">
                <div class="e0-com-sw{if $m.cover_in_detail} sw-on{else} sw-off{/if} e0-wxnews-setCoverFlag-{$m.id}" style="margin:0 auto">
                    <div class="sw-inner">
                        <i class="sl">开启</i><label></label><i class="sr">关闭</i>
                    </div>
                </div>
            </td>
            <td class="ac bdr bdl">{$m.view_num}</td>
            {if $index==0}

            <td class="ac bdr" rowspan="{count($wxitem.items)}">
                {if count($wxitem.items)==1}
                <a href="#!wxmedia/appmsg/edit/{$wxitem.id}" class="uiBtn"><i class="iconfont">&#xe603;</i></a>
                {else}
                <a href="#!wxmedia/appmsg/editMutil/{$wxitem.id}" class="uiBtn"><i class="iconfont">&#xe603;</i></a>
                {/if}

                <a href="javascript:;" class="uiBtn e2-wxnews-rmNews-{$wxitem.id}"><i class="iconfont">&#xe606;</i></a>
            </td>
            {/if}

        </tr>
        {/foreach}

    {/foreach}
    </table>
    {$page}
</div>
<script type="text/javascript" src="/admin/js/manage/wxnews.js"></script>