<ul class="dj_xhk fr">
    <p class="arrow-up fl"></p>
    <li><a href="{:U('Union/index')}">369商家联盟</a></li>
</ul>
<script type="text/javascript">
    $(".head_back2").click(function(){
        $(".dj_xhk").slideToggle("1000");
    });
</script>
<div class="main">
    <section>
        <div class="navbj fl pb0 pt2 pb2">
            <p class="tac fs1-6 lh1_8"><span class="gray">累计收入：</span>0.00￥</p>
        </div>
    </section>
    <section>
        <div class="navbj fl pt_6 pb_6">
            <ul class="core fl">
                <li>
                    <a href="{:U('Core/core')}"><img src="{$Think.const.HIMG_URL}xj_images_19.png"><br>店铺主页</a>
                </li>
                <li>
                    <a href="{:U('Scenter/doing')}"><img src="{$Think.const.HIMG_URL}xj_images_20.png"><br>订单管理</a>
                </li>
                <li>
                    <a href="finance.html"><img src="{$Think.const.HIMG_URL}xj_images_21.png"><br>财务管理</a>
                </li>
                <li>
                    <a href="state.html"><img src="{$Think.const.HIMG_URL}xj_images_22.png"><br>店铺状态</a>
                </li>
                <li>
                    <a href="{:U('Zeng/showlist')}"><img src="{$Think.const.HIMG_URL}xj_images_23.png"><br>1P管理</a>
                </li>
                <li>
                    <a href="__MODULE__/Scenter/member"><img src="{$Think.const.HIMG_URL}xj_images_24.png"><br>会员管理</a>
                </li>
            </ul>

        </div>
    </section>
</div>