<div class="main">
  <section>
    <div class="navbj fl pb0">
      <dl class="bec-t fl">
        <dt><img src="{$Think.const.HIMG_URL}xj_images_25.png"></dt>
        <dd>苏运泰<br>
          <img src="{$Think.const.HIMG_URL}xj_images_26.png" alt=""><span class="fs1-2 pl0-5 gray">优质信誉商家</span></dd>
      </dl>
    </div>
  </section>
  <section>
    <div class="navbj fl pb0 b_n mt0">
      <form action="" method="get">
        <ul class="bec-list fl pb2">
          <li>公司名<span class="fr">北京新农缘天下农业科技有限公司</span> </li>
          <li>商家联系人姓名<span class="fr">苏运泰</span> </li>
          <li>身份证<span class="core-sjx fr w20 gray pr0-2">已上传</span> </li>
          <li>营业执<span class="core-sjx fr w20 gray pr0-2">已上传</span> </li>
          <li>手机号 <span class="fr">142 4785 8965</span> </li>
          <li>所在地 <span class="fr dtwo w80">北京市海淀区长春桥路5号新起点嘉园11号501</span> </li>
          <li><a href="__MODULE__/Core/name"><span class="crimson">店铺名片</span><span class="core-sjx fr w20">&nbsp;</span></a> </li>
        </ul>
      </form>
    </div>
  </section>
</div>
