<script type="text/javascript" src="{$Think.const.MJS_URL}msgbox.js"></script>
<script type="text/javascript" src="{$Think.const.MJS_URL}myblog.js"></script>
<!--*****header*****-->
<div class="main">
<div class="clear"></div>
  <section>
    <div class="blog-a pb6 fl">
      <h1>{$slandinfo.title}</h1>
      <p class="fl l-gray w100 pt0-5 pb1 b-bd"><span class="post-img fl pr0-5"><img src="{$Think.const.MIMG_URL}tb_15.png">{$slandinfo.views}</span><span class="post-img fl"><img src="{$Think.const.MIMG_URL}tb_47.png">{$slandinfo.comments}</span></p>
      <div class="fin-twnr fl">
        {$slandinfo.content}
      </div>
      <ul class="blog-e fl" id="recordslist" slandid="{$slandinfo.sland_id}">
        <foreach name="comments" item="info">
        <li>
          <dl class="blog-b fl">
            <dt><img src="{$info.userhead}"></dt>
            <dd>{$info.username}<span class="fr blog-d"></span><br>
              <span class="fs1 l-gray">{$info.add_time}</span><span class="fr tar l-gray pr0-5"></span></dd>
          </dl>
          <p class="ti2">{$info.content}</p>
        </li>
        </foreach>
      </ul>
    </div>
  </section>
  <div class="aside_1">
    <p class="ftop"><img src="{$Think.const.MIMG_URL}2_3.png" alt=""/></p>
</div>
   <div class="fin-pbpl">
    <form action="__MODULE__/Famous/comment" method="get" id="comform">
      <a class="fin-pbpl-an1 fl" href="Javascript:window.history.go(-1)"><img src="{$Think.const.MIMG_URL}tb_14.png"></a>
      <input name="sland_id" type="hidden" value="{$slandinfo.sland_id}">
      <input class="fin-pbpl-k1 fl" name="content" type="text" style="width:72%">
      <a class="fin-pbpl-an fl subcomment" href="javascript:void(0)"><img src="{$Think.const.MIMG_URL}tb_11.png"></a> <a class="fin-pbpl-an fl" href="javascript:void(0)" ><img src="{$Think.const.MIMG_URL}tb_12.png"></a> <a class="fin-pbpl-an fl" href="javascript:void(0)"><img src="{$Think.const.MIMG_URL}tb_13.png"></a>
    </form>
  </div>
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- <script src="{$Think.const.MJS_URL}js.js"></script> -->
<script type="text/javascript">
  $(function(){
    var signPackage = {$signPackage};
    wx.config({
    appId: signPackage.appId,
    timestamp: signPackage.timestamp,
    nonceStr: signPackage.nonceStr,
    signature: signPackage.signature,
     jsApiList: [
      'checkJsApi',
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo'
      ]
  });             
  wx.ready(function () {
      // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
    wx.checkJsApi({
      jsApiList: [
      'getNetworkType',
      'previewImage',
       'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo'
      ],            
    });
    wx.onMenuShareAppMessage({$shareData});
    wx.onMenuShareTimeline({$shareData});
    wx.onMenuShareQQ({$shareData});
    wx.onMenuShareWeibo({$shareData});
  });
  }) 
</script>
<script type="text/javascript">
$(function () {
    $(".banner_3").click(function () {
        if($("aside").css("display")=="none"){
            $("aside").slideDown(300);
        }else{
            $("aside").slideUp(300);
        }
    });
    $("aside .clo").click(function () {
        $("aside").slideUp(300);
    });
});
</script>
<!-- 滚动加载 -->
<script type="text/javascript">
  $(function(){
    var slandid = $("#recordslist").attr('slandid');
    var scrollstatus = false;
    var haveend = false;
    var nowpage = 1;
    function ajax_request(slandid,nowpage){
      var html = '';
      var recordslist = $("#recordslist");//放数据的容器
      $.get("__MODULE__/Famous/detail/sland_id/"+slandid,{'p':nowpage},function(data){
        if(data.error == 0){
          var commenthtml = '';
          for(var i in data.comments){

            commenthtml += "<li><dl class='blog-b fl'><dt><img src='"+data.comments[i].userhead+"'></dt><dd>"+data.comments[i].username+"<span class='fr blog-d'></span><br><span class='fs1 l-gray'>"+data.comments[i].add_time+"</span><span class='fr tar l-gray pr0-5'></span></dd></dl><p class='ti2'>"+data.comments[i].content+"</p></li>";
          }
        }else{
          haveend = true;
        }

        recordslist.append(commenthtml);
        scrollstatus = false;
      },false);
    }
    $(window).scroll(function () {
      var scrollTop = $(this).scrollTop();
      var scrollHeight = $(document).height();
      var windowHeight = $(this).height();
      if (scrollTop + windowHeight == scrollHeight && scrollstatus == false) {
        scrollstatus = true;
        nowpage++;
        if(!haveend){
          ajax_request(slandid,nowpage);
        }
      }
    });
    $(".subcomment").click(function(){
      if($("input[name='content']").val() == ''){
        myalertbox('评论内容不能为空');
        return;
      }
      $.post($("#comform").attr('action'),$("#comform").serialize(),function(data){
        if(data == 'nologin'){
		  $("input[name='content']").val('');
          myalertbox('请登录后评论');
          return;
        }
		if(data.error == 'illegalword'){
			myalertmidbox(data.content);
			return;
		}
        if(data == 'stopping'){
          myalertbox('请勿频繁操作');
          return;
        }
        if(data.error == 0){
          myalertbox('评论成功');
          $("#recordslist").prepend("<li id='newcoms'><dl class='blog-b fl'><dt><img src='"+data.comment.userhead+"'></dt><dd>"+data.comment.username+"<span class='fr blog-d'></span><br><span class='fs1 l-gray'>"+data.comment.add_time+"</span><span class='fr tar l-gray pr0-5'></span></dd></dl><p class='ti2'>"+data.comment.content+"</p></li>");
		  location.href="#newcoms";
        }else{
          myalertbox('评论失败');
        }
      })
    })
   });
</script>
