<!--****第二通栏****-->
<div class="logon">
  <form action="__APP__/Home/Email/findpwd" method="post" id="form">
    <p class="logon-tit fl">找回密码</p>
    <ul class="logon-list fl">
      <li>
        <p class="logon-list-t fl"><span class="red">*</span>&nbsp;用户名：</p>
        <p class="fl">
          <input name="username" type="text" class="logon-list-k" placeholder="请输入用户名" />
          <span class="pl10">注册用户名</a></p>
      </li>
      <li>
        <p class="logon-list-t fl"><span class="red">*</span>&nbsp;邮箱：</p>
        <p class="fl">
          <input name="email" type="text" class="logon-list-k" placeholder="请输入邮箱" />
          <span class="pl10">注册邮箱</span></p>
      </li>
      <li>
        <p class="logon-list-t fl"><span class="red">*</span>&nbsp;验证码：</p>
        <p class="fl">
          <input name="verifycode" type="text" class="logon-list-k1" />
          <span class="pl10"><a href="javascript:void(0)" onclick="document.getElementById('codeimg').src = document.getElementById('codeimg').src+'?'+Math.random()">看不清</a></span></p>
      </li>
      <li>
        <p class="logon-list-t fl">&nbsp;</p>
        <p class="fl"><img id="codeimg" src="__CONTROLLER__/verifyImg" onclick="this.src=this.src+'?'+Math.random()"/></p>
      </li>
      <li>
        <p class="logon-list-t fl">&nbsp;</p>
        <p class="fl logon-an"><span id="subform" style="color:white;font-weight:bold;cursor:pointer">发送邮件</span></p>
      </li>
    </ul>
  </form>
</div>
<script type="text/javascript" src="{$Think.const.HJS_URL}msgbox.js"></script>
<script type="text/javascript">
	$(function(){
		$("#subform").click(function(){
			$('#subform').attr('disabled',true);
			if($("input[name='username']").val() == ''){
				$('#subform').attr('disabled',false);
				$("input[name='username']").val("请输入用户名");
				$("input[name='username']").css('color','red');
				$("input[name='username']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='username']").val('');$("input[name='username']").css('color','');$("input[name='username']").removeAttr('readonly')},2000);
				return false;
			}
			if($("input[name='email']").val() == ''){
				$('#subform').attr('disabled',false);
				$("input[name='email']").val("请输入邮箱");
				$("input[name='email']").css('color','red');
				$("input[name='email']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='email']").val('');$("input[name='email']").css('color','');$("input[name='email']").removeAttr('readonly')},2000);
				return false;
			}
			if($("input[name='verifycode']").val() == ''){
				$('#subform').attr('disabled',false);
				$("input[name='verifycode']").val("请输入验证码");
				$("input[name='verifycode']").css('color','red');
				$("input[name='verifycode']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='verifycode']").val('');$("input[name='verifycode']").css('color','');$("input[name='verifycode']").removeAttr('readonly')},2000);
				return false;
			}
			var myreg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			if(myreg.test($("input[name='email']").val())){
			}else{
				$('.loginBtn').attr('disabled',false);

				$("input[name='email']").val("邮箱地址不合法");
				$("input[name='email']").css('color','red');
				$("input[name='email']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='email']").val('');$("input[name='email']").css('color','');$("input[name='email']").removeAttr('readonly')},2000);
				return false;
			}
			$.post($("#form").attr('action'),$("#form").serialize(),function(data){
				if(data.error != 0){
					document.getElementById('codeimg').src = document.getElementById('codeimg').src+'?'+Math.random();
				}
				if(data.error == 0){
					myalertbox(data.content);
				}else if(data.error == 1){
					$('#subform').attr('disabled',false);
					$("input[name='verifycode']").val(data.content);
					$("input[name='verifycode']").css('color','red');
					$("input[name='verifycode']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='verifycode']").val('');$("input[name='verifycode']").css('color','');$("input[name='verifycode']").removeAttr('readonly')},2000);

				}else if(data.error == 2){
					$('#subform').attr('disabled',false);
					$("input[name='username']").val(data.content);
					$("input[name='username']").css('color','red');
					$("input[name='username']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='username']").val('');$("input[name='username']").css('color','');$("input[name='username']").removeAttr('readonly')},2000);

				}else if(data.error == 3){
					$('#subform').attr('disabled',false);
					$("input[name='email']").val(data.content);
					$("input[name='email']").css('color','red');
					$("input[name='email']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='email']").val('');$("input[name='email']").css('color','');$("input[name='email']").removeAttr('readonly')},2000);
				}else if(data.error == 4){
					myalertbox(data.content);
				}
			})
		})
	})
</script>