<!--****第二通栏****-->
<div class="logon" style="margin-bottom:150px;">
  <form action="__APP__/Home/Email/uppassword" method="post" id="form">
    <p class="logon-tit fl">密码重置</p>
    <ul class="logon-list fl">
      <li>
        <p class="logon-list-t fl" style="width:100px"><span class="red">*</span>&nbsp;新密码：</p>
        <p class="fl">
          <input name="password" type="password" class="logon-list-k" placeholder="请输入新密码" />
      </li>
	  <li>
        <p class="logon-list-t fl" style="width:100px"><span class="red">*</span>&nbsp;确认密码：</p>
        <p class="fl">
          <input name="repassword" type="password" class="logon-list-k" placeholder="请再次输入" />
      </li>
      <li>
        <p class="logon-list-t fl" style="width:100px">&nbsp;</p>
        <p class="fl logon-an"><span id="subform" style="color:white;font-weight:bold;cursor:pointer">确认重置</span></p>
      </li>
    </ul>
  </form>
</div>
<script type="text/javascript" src="{$Think.const.HJS_URL}msgbox.js"></script>
<script type="text/javascript">
	$(function(){
		$("#subform").click(function(){
			$('#subform').attr('disabled',true);
			if($("input[name='password']").val() == ''){
				$('#subform').attr('disabled',false);
				$("input[name='password']").get(0).type='text';
				$("input[name='password']").val("请输入新密码");
				$("input[name='password']").css('color','red');
				$("input[name='password']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='password']").val('');$("input[name='password']").get(0).type='password';$("input[name='password']").css('color','');$("input[name='password']").removeAttr('readonly')},2000);
				return false;
			}
			if($("input[name='repassword']").val() == ''){
				$('#subform').attr('disabled',false);
				$("input[name='repassword']").get(0).type='text';
				$("input[name='repassword']").val("请再次输入");
				$("input[name='repassword']").css('color','red');
				$("input[name='repassword']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='repassword']").val('');$("input[name='repassword']").get(0).type='password';$("input[name='repassword']").css('color','');$("input[name='repassword']").removeAttr('readonly')},2000);
				return false;
			}
			if($("input[name='repassword']").val() != $("input[name='password']").val()){
				$('#subform').attr('disabled',false);
				$("input[name='repassword']").get(0).type='text';
				$("input[name='repassword']").val("确认密码错误");
				$("input[name='repassword']").css('color','red');
				$("input[name='repassword']").attr('readonly','readonly');
				setTimeout(function(){$("input[name='repassword']").val('');$("input[name='repassword']").get(0).type='password';$("input[name='repassword']").css('color','');$("input[name='repassword']").removeAttr('readonly')},2000);
				return false;
			}
			$.post($("#form").attr('action'),$("#form").serialize(),function(data){
				if(data.error == 0){
					myalertbox(data.content,'__MODULE__/User/login');
				}else if(data.error == 1){
					$('#subform').attr('disabled',false);
					$("input[name='password']").get(0).type='text';
					$("input[name='password']").val(data.content);
					$("input[name='password']").css('color','red');
					$("input[name='password']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='password']").val('');$("input[name='password']").get(0).type='password';$("input[name='password']").css('color','');$("input[name='password']").removeAttr('readonly')},2000);
				}else if(data.error == 2){
					$('#subform').attr('disabled',false);
					$("input[name='repassword']").get(0).type='text';
					$("input[name='repassword']").val(data.content);
					$("input[name='repassword']").css('color','red');
					$("input[name='repassword']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='repassword']").val('');$("input[name='repassword']").get(0).type='password';$("input[name='repassword']").css('color','');$("input[name='repassword']").removeAttr('readonly')},2000);
				}else if(data.error == 3){
					myalertbox(data.content);
				}
			})
		})
	})
</script>