
        <div class="main">
            <ul class="hs_list">
                <li>
                 <p class="hs_tit borBot">订单编号：2016060310483913071<span>已下单</span></p>
                 <dl class="hs_pic borBot">
                 <dt><a href="allOrder.html"><img src="../images/dd_images.jpg"></a></dt>
                 <dd>脊柱健康护理<br>下单时间：2016-06-03</dd>
                 </dl>
                  <p class="hs_an"><a href="allOrder.html">取&nbsp;消</a></p>
                </li>
                 <li>
                 <p class="hs_tit borBot">订单编号：2016060310483913071<span>已完成</span></p>
                 <dl class="hs_pic borBot">
                 <dt><a href="allOrder.html"><img src="../images/dd_images.jpg"></a></dt>
                 <dd>脊柱健康护理<br>下单时间：2016-06-03</dd>
                 </dl>
                  <p class="hs_an"><a href="allOrder.html">评&nbsp;论</a></p>
                </li>
             <li>
                 <p class="hs_tit borBot">订单编号：2016060310483913071<span>已取消</span></p>
                 <dl class="hs_pic borBot">
                 <dt><a href="allOrder.html"><img src="../images/dd_images.jpg"></a></dt>
                 <dd>脊柱健康护理<br>下单时间：2016-06-03</dd>
                 </dl> 
                </li>
            </ul>
        </div>
    </div>
