
        <div class="main">
            <ul class="caseBox">
                <li class="pgdet">
                   <a href="#">
                        {$orderinfo.china}
                        <span>￥{$orderinfo.price}/小时</span>                      
                    </a>
                </li>
                <li>
                  进度
                  <div class="fszx_jd borTop borBot">
                  <p <if condition="$orderinfo.status eq '1'">class="list"</if><if condition="$orderinfo.status eq '2'">class="list1"</if><if condition="$orderinfo.is_com eq '1'">class="list2"<else /></if>></p>
                  <ul class="fszx_list">
                  <li>已接单&nbsp;&nbsp;&nbsp;&nbsp;</li>
                  <li>上门护理</li>
                  <li>护理结束</li>
                  <li>已评价</li>
                  </ul>
                  </div>
                   <ul class="pgdet_list1">
                   <li><span>1</span>已选服务时间/小时</li>
                   <li><span>1</span>已选服务次数</li>
                   </ul>
                </li>
                <li>
                订单信息
                   <ul class="pgdet_xq borTop">
                   <li>订单编号：{$orderinfo.ordernumber}</li>
                   <li>下单时间：{$orderinfo.inputtime|date="Y-m-d H:i:s",###}</li>
                   <li>订单总额：￥{$orderinfo.nsum}</li>
                   </ul>
                </li>
                <if condition="$orderinfo.status eq '0'">
                  <li><a href="__MODULE__/Nurse/toServe/orderid/{$orderinfo.orderid}"><button class="submit updateBtn">上门服务</button></a></li>
                <elseif condition="$orderinfo.status eq '1'" />
                  <li><a href="__MODULE__/Nurse/served/orderid/{$orderinfo.orderid}"><button class="submit updateBtn">服务结束</button></a></li>
                <if condition="$orderinfo.status eq '2'"></if>

            </ul>
        </div>
    </div>
