<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$seo.title}</title>
    <meta property="qc:admins" content="155541520462256654" />
    <meta name="keywords" content="{$seo.keywords}" />
    <meta name="description" content="{$seo.description}" />
    <meta name="Author" content="技术支持：港湾有巢 www.lnest.com" />
    <link type="text/css" rel="stylesheet" href="/style/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/style/css/reset.css" />
    {$main.favicon}
    <script type="text/javascript" src="/style/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/style/layer/layer.min.js"></script>
    <script type="text/javascript" src="/style/respond.min.js"></script>
    <script type="text/javascript" src="/style/common.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="/js/iepng.js" type="text/javascript"></script>
    <script type='text/javascript'>
        EvPNG.fix('*,a:hover');
    </script>
    <![endif]-->
</head>
<body>