
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468910379'); /* IE9*/
  src: url('iconfont.eot?t=1468910379#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468910379') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468910379') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468910379#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qita:before { content: "\e600"; }
.icon-shishangxiebao:before { content: "\e601"; }
.icon-yundonghuwai:before { content: "\e602"; }
.icon-xiezi:before { content: "\e611"; }
.icon-lingshi:before { content: "\e603"; }
.icon-shumadianqi:before { content: "\e604"; }
.icon-qiaquan:before { content: "\e612"; }
.icon-ipadiphone:before { content: "\e605"; }
.icon-youxi:before { content: "\e606"; }
.icon-jibielingdai:before { content: "\e613"; }
.icon-fushishishangjie:before { content: "\e607"; }
.icon-muyingyongpin:before { content: "\e608"; }
.icon-dianshi:before { content: "\e60f"; }
.icon-cgqitalianxifangshi:before { content: "\e609"; }
.icon-zuanshi:before { content: "\e614"; }
.icon-zhubao:before { content: "\e615"; }
.icon-shaidan:before { content: "\e616"; }
.icon-ertongleyuan:before { content: "\e617"; }
.icon-iconfont:before { content: "\e60a"; }
.icon-xinpin:before { content: "\e618"; }
.icon-jiadian:before { content: "\e60c"; }
.icon-qiche:before { content: "\e619"; }
.icon-youxi1:before { content: "\e60b"; }
.icon-dianshi1:before { content: "\e610"; }
.icon-diannao:before { content: "\e60d"; }
.icon-lingshi-copy:before { content: "\e60e"; }
.icon-diannao1:before { content: "\e61a"; }
