

<script type="text/javascript" src='{$Think.const.PLUGIN_URL}ueditor/ueditor.config.js' ></script>
<script type="text/javascript" src='{$Think.const.PLUGIN_URL}ueditor/ueditor.all.min.js' ></script>
<script type="text/javascript" src='{$Think.const.PLUGIN_URL}ueditor/lang/zh-cn/zh-cn.js' ></script>

<div class="main-content">

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3><i class="icon-magic"></i>栏目添加</h3>
                    </div>
                </div>
                <form action="__SELF__" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">名称 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-large" name="lan_title">
                            <span class="help-inline red"> * </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">url外部链接地址 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-large" name="url" >
                            <span class="help-inline red"> *  注：url必须以http://或https:// 开头 例如：http://www.hlnv.com</span>
<br/><span class="help-inline red"> *  如果是内部链接, 此处不填</span>
                             </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">关键词 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-large" name="keyword">
                            <span class="help-inline red"> * </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">描述 : </label>
                        <div class="controls pull-left">
                            <textarea class="input-large" style="margin: 0px; height: 115px; width: 530px;" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">排序 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-mini" name="sort">
                            <span class="help-inline red"> * 请输入整数</span>  </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">是否展示 : </label>
                        <div class="controls pull-left">
                            <label>
                                <input type="radio" class="ace" name="is_show" value='0' checked="checked">
                                <span class="lbl">是</span>
                            </label>
                            <label>
                                <input type="radio" class="ace" name="is_show" value='1'>
                                <span class="lbl">否</span>
                            </label>
                        </div>
                    </div>
<input type="hidden" name="is_dan" value='0'>
                   <!--  <div class="form-group">
                        <label class="control-label">栏目内容 : </label>


                            <div class="controls pull-left">

                                <span class="help-inline red"> *  如果是外链接, 此处不填</span>

                                <textarea rows="5" cols="30" id='content1' name='content1' style='width:850px;height:350px;'></textarea>
                            </div>
                        </div> -->




                    <div class="form-group">
                        <label class="control-label">上级栏目 : </label>
                        <div class="controls pull-left">
                            <select name='pid'>
                                <option value='0'>--请选择--</option>
                                <foreach name='laninfo' item='v'>
                                    <option value='{$v.lan_id}'>
                                        <!--{:str_repeat('--/',$v['level'])}-->
                                        {$v.lan_title}</option>
                                </foreach>
                            </select>
                            <span class="help-inline red"> * 必选</span>
                        </div>
                    </div>
<!-- <div class="form-group">
<label class="control-label">扩展栏目 : </label>
<div class="controls pull-left">
<select id='ext_lan1' name='ext_lan[]' onchange='show_lan2()'>
<option value='0'>-请选择-</option></select>
<select id='ext_lan2' name='ext_lan[]'>
<option value='0'>-请选择-</option></select>
<span class="help-inline red"> * </span>
</div>
</div>
<div class="form-group">
<label class="control-label">控制器名 : </label>
<div class="controls pull-left">
<input type="text" class="input-large" name="lan_c">
<span class="help-inline red"> * </span>
</div>
</div>
<div class="form-group">
<label class="control-label">方法名 : </label>
<div class="controls pull-left">
<input type="text" class="input-large" name="lan_a">
<span class="help-inline red"> * </span>
</div>
</div> -->
<div>
                        <label class="control-label"></label>
                        <button id="bsubmit" type="submit"  class="btn btn-sm btn-primary">添加</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content1 -->
</div><!-- /.main-content1 -->

<script type='text/javascript'>
    //主栏目切换显示第一个扩展栏目
    function show_lan1(){
        //获得当前选取的主栏目id信息
        var lan_id = $('#main_lan0').val();

        //不显示栏目信息处理
        if(lan_id==0){
            $('#ext_lan1 option:gt(0)').remove();//清除旧数据标签
            $('#ext_lan2 option:gt(0)').remove();//清除第二个扩展栏目信息
        }else{
            //让ajax带着lan_id信息，去服务器端获得子级栏目信息
            $.ajax({
                url:"__MODULE__/Lanmu/getLanByPid",
                data:{'lan_id':lan_id},
                dataType:'json',
                type:'get',
                success:function(msg){
                    var s = "";
                    //遍历msg并与html标签(option)结合，最后追加给页面
                    $.each(msg,function(){
                        s += "<option value='"+this.lan_id+"'>--/"+this.lan_title+"</option>";
                    });
                    $('#ext_lan1 option:gt(0)').remove();//清除旧数据标签
                    $('#ext_lan2 option:gt(0)').remove();//清除第二个扩展栏目信息
                    $('#ext_lan1').append(s);//追加新标签
                }
            });
        }
    }
    //第一个扩展栏目切换显示第二个扩展栏目
    function show_lan2(){
        //获得当前选取的第一级别扩展栏目id信息
        var lan_id = $('#ext_lan1').val();

        //不显示栏目信息处理
        if(lan_id==0){
            $('#ext_lan2 option:gt(0)').remove();//清除旧数据标签
        }else{
            //让ajax带着lan_id信息，去服务器端获得子级栏目信息
            $.ajax({
                url:"__MODULE__/Lanmu/getLanByPid",
                data:{'lan_id':lan_id},
                dataType:'json',
                type:'get',
                success:function(msg){
                    var s = "";
                    //遍历msg并与html标签(option)结合，最后追加给页面
                    $.each(msg,function(){
                        s += "<option value='"+this.lan_id+"'>--/--/"+this.lan_title+"</option>";
                    });
                    $('#ext_lan2 option:gt(0)').remove();//清除旧数据标签
                    $('#ext_lan2').append(s);//追加新标签
                }
            });
        }
    }
</script>
    <script type="text/javascript">
        var ue = UE.getEditor('content1',{toolbars: [[
                  'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'pasteplain', '|', 'forecolor', 'backcolor', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'attachment', 'map', 'insertframe', 'pagebreak', '|',
            'horizontal', 'date', 'time', 'spechars', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'print', 'preview', 'searchreplace', 'drafts'
        ]]});
    </script>