@charset "utf-8";
/* CSS Document */


.index-zhongcou{_height: auto;font-size: 14px;}
.index-zhongcou li{height: auto;padding:10px 11px 10px 10px}

.index-zhongcou li .pic{height: 165px;margin-bottom: 10px;}
.index-zhongcou li p.title{line-height: 1.8;height: 1.8em;}
.index-zhongcou li .progressBar{margin: 10px 0 7px;}
.index-zhongcou li .progressBar-wrap{background: #f6f7f8;margin-bottom: 15px;}
.index-zhongcou li .progressBar-wrap span{background: #ff9398;border-radius: 5px;}
.index-zhongcou li .progressBar-txt{color: #ababab;}
.index-zhongcou li .progressBar-txt div.txt-l,.index-zhongcou li .progressBar-txt div.txt-r{width:26%;}
.index-zhongcou li .progressBar-txt div span{display: block;color: #333;font-size: 16px;line-height: 1.4;}
.index-zhongcou li .progressBar-txt div.txt-m{overflow: hidden;float: none;width: auto;padding: 0 0 0 15px;border: solid #d1d1d1;border-width: 0 1px;}






















