<script type="text/javascript" src='{$Think.const.JS_URL}jquery-1.7.2.min.js'></script>
<script type="text/javascript" src='{$Think.const.JS_URL}uploadPreview.js'></script>
<div class="main-content">
    <div class="breadcrumbs">
        <ul>
            <li > <a href="__MODULE__/Product/tianjia">添加 </a> </li>

        </ul>
        <!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
<form action="__SELF__" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">中文名称 : </label>
        <div class="controls pull-left">
            <input type="text" class="input-large" name="china">
            <span class="help-inline red"> * </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">英文名称 : </label>
        <div class="controls pull-left">
            <input type="text" class="input-large" name="english">
            <span class="help-inline red"> * </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">价　　格 : </label>
        <div class="controls pull-left">
            <input type="text" class="input-medium" name="price">
            <span class="help-inline red"> * </span>
        </div>
    </div>
                    <div class="form-group">
    <label class="control-label">优惠政策 : </label>
    <div class="controls pull-left">
        <select class="input-medium" name="discount">
            <option>无</option>
        </select>
    </div>
</div>
    <div class="form-group">
        <label class="control-label">类　　型 : </label>
        <div class="controls pull-left">
            <select class="input-medium" id="main_cat0" name="cat_id" onchange="show_cat()">

                    <option value='0'>-请选择-</option>
                    <foreach name='classList' item='v'>
                        <option value='{$v.cat_id}'>{$v.name}</option>
                    </foreach>

            </select>
            <span class="help-inline red"> * </span>
        </div>
    </div>
    <script type='text/javascript'>
        function show_cat(){
            var cat_id = $('#main_cat0').val();
            if(cat_id==0){
                $('#ext_cat1 option:gt(0)').remove();
            }else{
                $.ajax({
                    url:"__MODULE__/Productclass/getCatByPid",
                    data:{'cat_id':cat_id},
                    dataType:'json',
                    type:'get',
                    success:function(msg){
                        var s = "";
                        $.each(msg,function(){
                            s += "<option value='"+this.cat_id+"'>--/"+this.cat_name+"</option>";
                        });
                        $('#ext_cat1 option:gt(0)').remove();
                        $('#ext_cat1').append(s);
                    }
                });
            }
        }
    </script>

                    <div class="form-group">
                        <label class="control-label">展　　示 : </label>
                        <div class="controls pull-left">
                            <label>
                                <input type="radio" class="ace" name="is_on" checked="checked" value="0">
                                <span class="lbl">上架</span>
                            </label>
                            <label>
                                <input type="radio" class="ace" name="is_on" value="1">
                                <span class="lbl">下架</span>
                            </label>
                        </div>
                    </div>
    <div class="form-group">
        <label class="control-label"> 商品图片 : </label>
        <div class="controls pull-left">
            <input type="file" class="input-large" id="pic" name="pic" >
            <div id="pic_div"><img id='pic_img' width='160' height='100'></div>
        </div>
    </div>
    <script type='text/javascript'>
        $(function(){
            new uploadPreview({ UpBtn: "pic", DivShow: "pic_div", ImgShow: "pic_img" });
        });
    </script>

                    <div class="form-group">
                        <label class="control-label">介　　绍 : </label>
                        <div class="controls pull-left">
                            <textarea class="input-large" style="margin: 0px; height: 115px; width: 530px;" name="introduce"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">备　　注 : </label>
                        <div class="controls pull-left">
                            <textarea class="input-large" style="margin: 0px; height: 115px; width: 530px;" name="remarks"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="bsubmit" type="submit"  class="btn btn-sm btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->