{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>中国缓粘结网</title>
    <meta name="keywords" content="中国缓粘结网">
    <meta name="description" content="中国缓粘结网">
    <script type="text/javascript" src="{$Think.const.WJS_URL}jquery-1.12.3.min.js"></script>
    <link href="{$Think.const.WCSS_URL}basic.css" type="text/css" rel="stylesheet"/>
    <link href="{$Think.const.WCSS_URL}style.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript">
    //     iphone 640px 设计图应用代码，所有长度px除以100加rem即可。
    var timer = null;
    // 事件监听
    if ('addEventListener' in document) {
        document.addEventListener('orientationchange', function () {
            setRem();
        }, false);
        window.addEventListener('resize', function () {
            setRem();
        }, false);
    }

    // 横竖屏时重新调整
    function setRem() {
        clearTimeout(timer);
        // 延迟屏幕横竖转换
        timer = setTimeout(function () {
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + 'px';
        }, 200);
    }

    document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + 'px';
</script>
</head>
<body>
<!--*****header*****-->
<div class="container b-white">
    <!--*****header*****-->
    <div class="main">
        <!--*****menu*****-->
        <div class="login">
            <section class="login-con" style="padding-top:0">
                <form action="" method="post">
                    <ul>
                        <li>
                            用户名：{$_SESSION['user']['info']['username']}
                        </li>
                        <input type="button" class="w100 login-an b-bule mt0-72" onclick="location.href='__MODULE__/User/logout'" value="退&nbsp;出">
                    </ul>
            </section>

        </div>
        <!--*****menuend*****-->
    </div>
</div>
<!--*****footer*****-->
<include file="Wap/View/footer.html" />
<!--*****footer*****-->
<script type="text/jscript" src="{$Think.const.WJS_URL}idangerous.swiper.min.js"></script>
<script src="{$Think.const.WJS_URL}index.js"></script>
</body>
</html>
