{include file='../public_btn.html'}
<div class="html-box">
    <h3 class="table-title">{$module.title}({$module.name})</h3>

    <form name="formlist" target="iframeNewsTarget" method="post" action="">
    <input type="hidden" name="moduleid" value="{$moduleid}" />

    <table class="list">
        <thead>
            <tr>
                <th class="w30">排序</th>
                <th class="w100">字段名</th>
                <th align="left">别名</th>
                <th class="w100">字段类型</th>
                <th class="w40">系统字段</th>
                <th class="w40">必填</th>
                <th class="w40">状态</th>
                <th class="w100">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.list item=m}
            <tr>
                <td align='center'><input type='text' class='form-i-s w30' name='listorders[{$m.id}]' value='{$m.listorder}' /></td>
                <td align="center">{$m.field}</td>
                <td align="left">{$m.name}</td>
                <td align="center">{$m.type}</td>
                <td align="center">
                    {if $m.issystem==1}
                    <span class="c-green">√</span>
                    {else}
                    <span class="c-red">×</span>
                    {/if}
                </td>
                <td align="center">
                    {if $m.required==1}
                    <span class="c-green">√</span>
                    {else}
                    <span class="c-red">×</span>
                    {/if}
                </td>
                <td align='center'>
                    {if $m.field|in_array:$nostatus}
                    <span class="c-gray">{if $m.status == 1}开启{else}禁用{/if}</span>
                    {else}
                    {if $m.status == 1}
                    <a href="javascript:;" onclick="main.chang_status('{$m.id}','module_field')" class="c-green" title="点击禁用">开启</a>
                    {else}
                    <a href="javascript:;" onclick="main.chang_status('{$m.id}','module_field')" class="c-red" title="点击开启">禁用</a>
                    {/if}
                    {/if}
                </td>
                <td class='opera' align='center' nowrap>
                    <a href='#!field/edit/?moduleid={$moduleid}&id={$m.id}&com=xshow|编辑字段' class='iconfont icon-a' title='编辑'>&#xe603;</a>
                    {if $m.field|in_array:$nodelete}
                    <span class='iconfont icon-a c-disable'>&#xe606;</span>
                    {else}
                    <a href='javascript:;' onclick="main.confirm_del('field/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="foot-btn">
        <button type="button" class="uiBtn BtnGreen" onclick="main.batch_order('formlist','order','module_field')">更新排序</button>
    </div>
    </form>

</div>

