<style type="text/css">
  .zhiding{color:#950909;height:26px;line-height:26px;padding:2px;display:inline-block;border:2px solid #950909;transform:rotate(-7deg);-ms-transform:rotate(-7deg);   /* IE 9 */-moz-transform:rotate(-7deg);  /* Firefox */-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */-o-transform:rotate(-7deg); }
  .jinghua{color:#c27a4a;height:26px;line-height:26px;padding:2px;display:inline-block;border:2px solid #c27a4a;transform:rotate(-7deg);-ms-transform:rotate(-7deg);   /* IE 9 */-moz-transform:rotate(-7deg);  /* Firefox */-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */-o-transform:rotate(-7deg); }
  .xintie{color:#eb0909;height:26px;line-height:26px;padding:2px;display:inline-block;border:2px solid #eb0909;transform:rotate(-7deg);-ms-transform:rotate(-7deg);   /* IE 9 */-moz-transform:rotate(-7deg);  /* Firefox */-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */-o-transform:rotate(-7deg); }
  .putong{color:#999;height:26px;line-height:26px;padding:2px;display:inline-block;border:2px solid #999; }

</style>
<div class="main">
  <!--*****for*****-->
  <section>
    <div class="for fl bb-b">
      <p class="fl pl0-5 fwb">长青<span class="d-red">论坛</span></p>
      <p class="fr pr0-5 fs1"><if condition="$Think.session.flag eq ''"><a href="__MODULE__/User/register">注册</a> | <a href="__MODULE__/User/login">登录</a><else /><a href="__MODULE__/User/ucenter">{$Think.session.userInfo.username}</a> | <a href="__MODULE__/User/logout">退出</a></if> |
        <a href="__MODULE__/Posts/createpost">发帖</a> |
        <if condition="$Think.session.flag eq ''">
          <a href="__MODULE__/Blog/openblog">开通博客</a>
        <else />
          <if condition="$Think.session.userInfo.is_blog eq '1'">
            <a href="__MODULE__/Blog/myzone">我的博客</a>
          <else />
            <a href="__MODULE__/Blog/openblog">开通博客</a>
          </if>
        </if>
        </p>
    </div>
  </section>
  <!--*****for-c*****-->
  <div class="for-c fl">
    <div class="for-con cur" id="recordslist" boardid="{$Think.get.board_id}">
      <foreach name="postlist" item="info">
      <dl class="for-list fl">
        <dt></dt>
        <dd style="width:97%">
          <p class="w100 t-w pb3-5" style="padding-bottom:2.5rem"><a href="__MODULE__/Posts/detail/post_id/{$info.post_id}"><if condition="$info.sort eq 3"><span class="zhiding">置顶</span><elseif condition="$info.sort eq 2" /><span class="jinghua">精华</span><elseif condition="$info.sort eq 1" /><span class="xintie">新帖</span><elseif condition="$info.sort eq 0" /><span class="putong">普通</span></if>&nbsp;{$info.topic}</a></p>
          <p class="w100 fl"><span class="fl w30 t-w">{$info.username}</span><span class="fl pl1">{$info.ctime|date="Y-m-d H:s",###}</span><span class="fr for-list-tb"></span> </p>
        </dd>
      </dl>
      </foreach>
    </div>
    <div id="loading" style="display:none;float:left;width:100%;text-align:center;font-size:1.5rem;color:#999;background:#fff;line-height:2rem;height:2rem;margin-bottom:0.5rem;margin-top:0.5rem">没有更多数据</div>
    </div>
  </div>
</div>
<!-- 滚动加载 -->
<script type="text/javascript">
  $(function(){
    var boardid = $("#recordslist").attr('boardid');
    var scrollstatus = false;
    var haveend = false;
    var nowpage = 1;
    function ajax_request(boardid,nowpage){
      var html = '';
      var recordslist = $("#recordslist");//放数据的容器
      $.get("__MODULE__/Posts/postlist/board_id/"+boardid,{'p':nowpage},function(data){
        if(data.error == 0){
          var status = '';
          for(var i in data.content){
            if(data.content[i].sort == 0){
              status = "<span class='putong'>普通</span>";
            }else if(data.content[i].sort == 1){
              status = "<span class='xintie'>新帖</span>";
            }else if(data.content[i].sort == 2){
              status = "<span class='jinghua'>精华</span>";
            }else if(data.content[i].sort == 3){
              status = "<span class='zhiding'>置顶</span>";
            }

            html += "<dl class='for-list fl'><dt></dt><dd style='width:97%'><p class='w100 t-w pb3-5' style='padding-bottom:2.5rem'><a href='__MODULE__/Posts/detail/post_id/"+data.content[i].post_id+"'>"+status+"&nbsp;"+data.content[i].topic+"</a></p><p class='w100 fl'><span class='fl w30 t-w'>"+data.content[i].username+"</span><span class='fl pl1'>"+data.content[i].nctime+"</span><span class='fr for-list-tb'></span> </p></dd></dl>";
          }
        }else{
          if(!haveend){
            $("#loading").fadeIn(1000);$("#loading").fadeOut(1000);
          }

          haveend = true;
        }
        recordslist.append(html);
        //$("#loading").css("display",'none');
        scrollstatus = false;
      },false);
    }
    $(window).scroll(function () {
      var scrollTop = $(this).scrollTop();
      var scrollHeight = $(document).height();
      var windowHeight = $(this).height();
      if (scrollTop + windowHeight == scrollHeight && scrollstatus == false) {
        scrollstatus = true;
        nowpage++;
        if(!haveend){
          ajax_request(boardid,nowpage);
        }
      }
    });
   });
</script>
