<h3 class="info-tag media-cate">
    <a class="tab-btn{if $type=='subscribe'} on{/if}" href="#!wxreply/subscribe">被关注自动回复
        <b class="z1">◆</b><b class="z0">◆</b>
    </a>
    <a class="tab-btn{if $type=='autoreply'} on{/if}" href="#!wxreply/autoreply">消息自动回复
        <b class="z1">◆</b><b class="z0">◆</b>
    </a>
    <a class="tab-btn{if $type=='normal'} on{/if}" href="#!wxreply/smartreply">关键词自动回复
        <b class="z1">◆</b><b class="z0">◆</b>
    </a>
    <span></span>
</h3>



{literal}
<style type="text/css">
</style>
{/literal}
<div class="html-box">

    <div class="wxeditor" style="padding-top:10px">
        <div id="wxeditor"></div>
        <div class="f-unit" style="text-align:right">
            <input type="hidden" name="reply_type" value="{$type}" id="reply_type" />
            <a href="javascript:;" class="uiBtn BtnGreen e2-wxmenu-saveAutoReply">保&nbsp;存</a>
        </div>
    </div>

    <div class="clear"></div>
</div>
<script type="text/javascript">
$.loadJs('/admin/js/manage/wxreply.js',function(){
$.loadJs('/admin/js/manage/wxmenu.js',function(){
    wxmenu.createWxEditor('wxeditor',{
        data:'{$data}',
        type:'{$msg_type}'
    });
});
});
</script>

