<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>蓝海长青</title>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<link href="css/basic.css" type="text/css" rel="stylesheet" />
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!--*****header*****-->
<header> <a class="headBack" href="index.html">&nbsp;</a>
  <div class="headTit">
    <form action="" method="get">
      <input class="headTit-k" name="" type="text" placeholder="请输入您要搜索的内容">
      <input class="search-an" name="" type="button">
    </form>
  </div>
  <span class="nav fr"></span>
  <ul class="menu pb1">
    <li><a href="index.html">首页</a></li>
    <li class="menu_1">关于我们<span class="xia"></span></li>
    <ul class="menu_2">
      <li><a href="about.html">公司简介</a> </li>
      <li><a href="about.html">企业精神</a> </li>
      <li><a href="about.html">组织架构</a> </li>
      <li><a href="expert.html">专家队伍</a> </li>
      <li><a href="recruit.html">人才招聘</a> </li>
      <li> <a href="about.html">业务范围</a></li>
    </ul>
    <li><a href="line.html">蓝海头条</a></li>
    <ul class="menu_2">
      <li><a href="nhtt.html">蓝海视点</a> </li>
      <li><a href="nhtt.html">军事动态</a> </li>
      <li><a href="nhtt.html">安全纵横</a> </li>
      <li><a href="nhtt.html">尖端科技</a> </li>
      <li><a href="nhtt.html" >思海揽胜</a> </li>
      <li><a href="nhtt.html">开心乐园</a></li>
    </ul>
    <li class="menu_1">蓝海资讯<span class="xia"></span></li>
    <ul class="menu_2">
      <li> <a href="nhtt.html">蓝海视点</a> </li>
      <li><a href="nhtt.html">军事动态</a> </li>
      <li><a href="nhtt.html">安全纵横</a> </li>
      <li> <a href="nhtt.html">尖端科技</a> </li>
      <li> <a href="nhtt.html">思海揽胜</a> </li>
      <li> <a href="nhtt.html">开心乐园</a> </li>
    </ul>
    <li class="menu_1">军民融合<span class="xia"></span></li>
    <ul class="menu_2">
      <li> <a href="nhtt.html">蓝海发布</a> </li>
      <li> <a href="nhtt.html">产业发展</a> </li>
      <li> <a href="nhtt.html">教育培训</a> </li>
      <li><a href="nhtt.html">文化传媒</a> </li>
      <li><a href="nhtt.html">安全与发展论坛</a></li>
    </ul>
    <li class="menu_1">资讯服务<span class="xia"></span></li>
    <ul class="menu_2">
      <li> <a href="nhtt.html">园区建设</a> </li>
      <li><a href="nhtt.html">科技服务</a> </li>
      <li> <a href="nhtt.html">法规政策</a> </li>
      <li><a href="library.html" tabindex="-1">网上图书馆</a> </li>
      <li><a href="nhtt.html">人才交流</a> </li>
      <li><a href="advice.html">在线咨询</a></li>
    </ul>
    <li class="menu_1">长青论坛<span class="xia"></span></li>
    <ul class="menu_2">
      <li><a href="blog.html">长青博客</a> </li>
      <li> <a href="ser_list.html">巅峰论坛</a> </li>
      <li><a href="famous.html">名家讲坛</a> </li>
      <li><a href="character.html">蓝海人物</a> </li>
      <li> <a href="nhtt.html">人才交流</a> </li>
      <li><a href="advice.html">在线咨询</a> </li>
    </ul>
    <li><a href="nhtt.html">蓝海公益</a></li>
    <li><a href="nhtt.html">蓝海发布</a></li>
  </ul>
</header>

<!--*****header*****-->
<div class="main">
  <!--*****banner*****-->
  <section>
    <div class="nht-xl fl">
      <p class="lin-tt">关于<span class="d-red">我们</span><span class="nht-tt fr">&nbsp;</span></p>
      <ul class="nht-sumenu fr">
        <li><a href="about.html">公司简介</a></li>
        <li><a href="about.html">企业精神</a></li>
        <li><a href="about.html">组织架构</a></li>
        <li><a href="expert.html">专家队伍</a></li>
        <li><a href="recruit.html">人才招聘</a></li>
        <li><a href="about.html">业务范围</a></li>
      </ul>
    </div>
  </section>
  <script type="text/javascript">
    $(".nht-tt").click(function(){
        $(".nht-sumenu").slideToggle("1000");
    });
</script>
  <!--*****banner*****-->
  <section>
    <p class="abo-banner fl"><img src="images/images_05.jpg"></p>
  </section>
  <!--*****h-l内容*****-->
  <section>
    <div class="h-l pb1 fl">
      <p class="h-l-tt">公司简介</p>
      <div class="abo-nr fl">
        <p> 北京蓝海长青规划设计研究有限公司，秉承富国强军理念，以军事和安全为主，业务领域涉及理论研究、政策咨询、情报信息、产业发展、成果转化、投资孵化、文化传媒、教育培训、国际合作等多个方面，致力于成为具有国际影响力的一流新型高端民间智库，成为国内顶级的军民融合产业发展规划设计、建设运营、战略投资、顾问管理企业集团，成为国家军民融合事业深度发展的推动者、实践者和示范者。主要业务包括：</p>
        <span class="fwb fl">研究咨询</span>
        <p> 开展军事和安全研究，瞄准世界和周边热点、国防和军队建设难点、改革和发展焦点，深入开展重大理论和现实问题课题攻关，为政府、军队、企业提供形势分析、对策措施、法规政策等方面的咨询服务。</p>
        <span class="fwb fl">科技服务</span>
        <p> 开展产业、技术、装备发展的军事需求研究和可行性论证，当好“军转民”、“民参军”的参谋顾问和技术、装备、资产、人员军地交流的中介桥梁，确保先进技术成果及时转化应用，推动技术更新、装备换代、产业升级，促进新型生产力成长和新型战斗力生成。</p>
        <span class="fwb fl">产业经营</span>
        <p> 开展军民融合产业园区规划论证、方案设计、项目建设、招商引资、成果转化、技术孵化、会展交易、融资投资、中介服务、运营管理等业务，创新服务模式，搭建优质平台，带动一批新产业、新技术、新业态的发展。</p>
        <span class="fwb fl">教育培训</span>
        <p> 开展军转干部和退役士兵职业技能培训，承接各类国防教育、会议、论坛、军训等活动，举办军民融合专题研讨、进修学习、讲座辅导，组织从业人员资格考核辅导，并与国内外知名大学、研究机构合作开展高端商务、研究、创新、领导人才职业培训。</p>
        <span class="fwb fl">文化传媒</span>
        <p> 建设新型专业化网络媒体平台，实时解读国家和军队政策，发布军民融合、安全形势、世界军事、国防建设、技术创新、产业发展、企业经营、成果转化、商务合作等方面最新动态；组织各类文化活动、主题论坛，开展文化创意，发展文化产业；推出系列精品图书、主题期刊、军民融合民间白皮书，塑造名作、名家、名师方阵；开展成果、作品、产品、技术等各类可视化工作，服务政府、军队和企业。</p>
        <span class="fwb fl">公益事业</span>
        <p> 设立“蓝海基金”，实施“蓝海迅雷尖端课题研究攻关计划”，加速重大课题突破和高新技术研发，实施“长青新苗创新发展支援计划”，助力优秀年轻人才成长；开展公益性研究，与政府、军队、企业和大众分享创新成果。</p>
        <span class="fwb fl">公司电话：010-83671790</span><br>
        <span class="fwb fl">公司地址：北京市丰台区富丰路4号工商联大厦A座1902室</span>
        <p><img src="images/images_08.jpg"></p>
      </div>
    </div>
  </section>

  <!--*****footer*****-->
  <footer>
    <p class="copyright">Copyright © 2016 {$Think.const.SITE_URL|substr=###,7,50} All Rights Reserved.<br>
      蓝海长青 版权所有</p>
  </footer>
  <!--*****footer*****-->
</div>
<script src="js/jquery.hiSlider.min.js"></script>
<script>
	$('.hiSlider3').hiSlider({
		isFlexible: true,
		isSupportTouch: true,
		titleAttr: function(curIdx){
			return $('img', this).attr('alt');
		}
	});
</script>
<script src="js/js.js"></script>
</body>
</html>
