<script type="text/javascript">
  //根据当前选中的类型 获得 对应的属性列表信息
  function show_attr(){
    var type_id = $('#type_id').val(); //选中类型的id信息

    //ajax带着type_id去服务器端获得对应的属性信息
    $.ajax({
      url:"__CONTROLLER__/getAttrByType",
      data:{'type_id':type_id},
      dataType:'json',
      //type:'get',
      success:function(msg){
        //console.log(msg);

        //遍历msg使得与html标签结合 并最终追加给页面
        var s = "";
        $.each(msg,function(n,v){
          //n  代表遍历出来子级元素的下标序号(0/1/2/...)
          //this 和 v 代表遍历出来的子级对象
          s += '<tr> <td height="20" bgcolor="#FFFFFF"><div align="center"> <input type="checkbox" id="checkbox2" name="checkbox2"> </div></td> <td height="20" bgcolor="#FFFFFF" class="STYLE6"> <div align="center"><span class="STYLE19">'+v.attr_id+'</span></div></td> <td height="20" bgcolor="#FFFFFF" class="STYLE19"> <div align="left">'+v.attr_name+'</div></td> <td height="20" bgcolor="#FFFFFF" class="STYLE19"> <div align="center">'+v.type_name+'</div></td> <td height="20" bgcolor="#FFFFFF" class="STYLE19"> <div align="center">';
          s += v.attr_sel=='0'?'唯一':'多选';
          s += '</div></td> <td height="20" bgcolor="#FFFFFF" class="STYLE19"> <div align="center">';
          s += v.attr_write=='0'?'手工录入':'从列表选择';
          s += '</div></td> <td height="20" bgcolor="#FFFFFF" class="STYLE19"> <div align="center">'+v.attr_vals+'</div></td> <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21"> <img width="10" height="10" src="/Public/Admin/images/del.gif"> 删除 | 查看 | <img width="10" height="10" src="/Public/Admin/images/edit.gif"> <a href="/index.php/Admin/Attribute/upd.html" class="STYLE21">编辑</a></div></td> </tr>';
        });
        $('#attr_data_show tr:gt(0)').remove();//清除旧的数据
        $('#attr_data_show').append(s);//追加新的数据
      }
    });
  }

//页面加载完毕就调用show_attr()以便展示对应的属性信息
$(function(){
  show_attr();
});

</script>

  <tr>
    <td colspan='100' class="STYLE10"  bgcolor="d3ea01">
      按商品类型显示:
        <select name="type_id" id="type_id" onchange="show_attr()">
          <option value='0'>-请选择-</option>
          <foreach name='typeinfo' item='v'>
            <option value='{$v.type_id}'
            <eq name='v.type_id' value='$Think.get.type_id'>selected="selected"</eq>
            >{$v.type_name}</option>
          </foreach>
        </select>
    </td>
  </tr>

  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce" id="attr_data_show">
      <tr>
        <td width="4%" height="20" bgcolor="d3eaef" class="STYLE10"><div align="center">
          <input type="checkbox" name="checkbox" id="checkbox" />
        </div></td>
        <td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">属性id</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">属性名称</span></div></td>
        <td width="7%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">所属类型</span></div></td>
        <td width="7%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">是否单选</span></div></td>
        <td width="7%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">属性值的录入方式</span></div></td>
        <td width="14%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">可选值列表</span></div></td>
        <td width="*" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">基本操作</span></div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%"><div align="left"><span class="STYLE22">&nbsp;&nbsp;&nbsp;&nbsp;共有<strong> 243</strong> 条记录，当前第<strong> 1</strong> 页，共 <strong>10</strong> 页</span></div></td>
        <td width="67%"><table width="312" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td width="49"><div align="center"><img src="{:C('AD_IMG_URL')}main_54.gif" width="40" height="15" /></div></td>
            <td width="49"><div align="center"><img src="{:C('AD_IMG_URL')}main_56.gif" width="45" height="15" /></div></td>
            <td width="49"><div align="center"><img src="{:C('AD_IMG_URL')}main_58.gif" width="45" height="15" /></div></td>
            <td width="49"><div align="center"><img src="{:C('AD_IMG_URL')}main_60.gif" width="40" height="15" /></div></td>
            <td width="37" class="STYLE22"><div align="center">转到</div></td>
            <td width="22"><div align="center">
              <input type="text" name="textfield" id="textfield"  style="width:20px; height:12px; font-size:12px; border:solid 1px #7aaebd;"/>
            </div></td>
            <td width="22" class="STYLE22"><div align="center">页</div></td>
            <td width="35"><img src="{:C('AD_IMG_URL')}main_62.gif" width="26" height="15" /></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

