  <tr>
    <td>
    <form action="__SELF__" method="post" enctype="multipart/form-data">
    <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce"
    id="general-tab-cont">
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="right"><span class="STYLE19">属性名称：</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="left">
        <input type="text" name="attr_name" />
        </div></td>
      </tr>      
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="right"><span class="STYLE19">所属类型：</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="left">
        <select name='type_id'>
          <option value='0'>-请选择-</option>
          <foreach name='typeinfo' item='v'>
            <option value='{$v.type_id}'>{$v.type_name}</option>
          </foreach>
        </select>
        </div></td>
      </tr>      
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="right"><span class="STYLE19">属性是否可选：</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="left">
        <input type="radio" name="attr_sel" value="0" checked='checked' />唯一
        <input type="radio" name="attr_sel" value="1" />多选
        </div></td>
      </tr>      
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="right"><span class="STYLE19">该属性值的录入方式：</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="left">
        <input type="radio" name="attr_write" value="0" checked='checked' />手工录入
        <input type="radio" name="attr_write" value="1" />从下边列表选择
        </div></td>
      </tr>      
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="right"><span class="STYLE19">可选值列表：</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="left">
        <textarea name='attr_vals' style='width:350px; height:90px;'></textarea>
        <span style='color:gray;'>多个可选值彼此通过","分隔</span>
        </div>
        </td>
      </tr>
      <tr>
        <td height="20" bgcolor="#FFFFFF" class="STYLE6" colspan='100'>
          <div align="center"><input type="submit" value='添加属性' /></div>
        </td>
      </tr>    
    </table>
    </form>
    </td>
  </tr>
</table>
