<script type="text/javascript" src='{$Think.const.JS_URL}jquery-1.7.2.min.js'></script>
<script type="text/javascript" src='{$Think.const.JS_URL}uploadPreview.js'></script>
<div class="main-content">

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3><i class="icon-magic"></i>添加客户</h3>
                    </div>
                </div>


                <div class="page-content">
                    <div class="row">
                        <div class="page-content box">

                            <form action="__SELF__" method="post" class="form-horizontal" enctype="multipart/form-data">
                           
                                <div class="form-group">
                                    <label class="control-label">名　　称 : </label>
                                    <div class="controls pull-left">
                                        <input type="text" class="input-medium" name="title">
                                        <span class="help-inline red"> * </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">图　　片 : </label>
                                    <div class="controls pull-left">
                                        <input type="file" class="input-large" id="picture" name="picture" >
                                        <div id="pic_div"><img id='pic_img' onerror="this.src='{$Think.const.IMG_URL}imgerror.png'" width='250' height='100'></div>
                                    </div>
                                </div>
                                <script type='text/javascript'>
                                    $(function(){
                                        new uploadPreview({ UpBtn: "picture", DivShow: "pic_div", ImgShow: "pic_img" });
                                    });
                                </script>
                                <div class="form-group">
                                    <label class="control-label">链　　接 : </label>
                                    <div class="controls pull-left">
                                        <input type="text" class="input-medium" name="href" style="width:400px">
                                        <span class="help-inline red">  </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">显示顺序 : </label>
                                    <div class="controls pull-left">
                                        <input type="text" class="input-medium" name="sort">
                                        <span class="help-inline red"> * 请输入整数数字,按照数字从小到大顺序排列</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">是否显示 : </label>
                                    <div class="controls pull-left" style="padding-top:6px">
                                        <label>
                                            <input type="radio" class="ace" name="is_show" checked="checked" value="1">
                                            <span class="lbl">是</span>
                                        </label>
                                        <label>
                                            <input type="radio" class="ace" name="is_show" value="0">
                                            <span class="lbl">否</span>
                                        </label>
                                    </div>
                                </div>
                                
                                




                                <div>
                                    <label class="control-label"></label>
                                    <button id="bsubmit" type="submit"  class="btn btn-sm btn-primary">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--/.box-->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->

