
<script type="text/javascript" src='{$Think.const.SITE_URL}/Public/Home/ueditor/ueditor.config.js' ></script>
<script type="text/javascript" src='{$Think.const.SITE_URL}/Public/Home/ueditor/ueditor.all.min.js' ></script>
<script type="text/javascript" src='{$Think.const.SITE_URL}/Public/Home/ueditor/lang/zh-cn/zh-cn.js' ></script>




<script type="text/javascript">
    var pageCount = 1;//总页数
    var regExp = /_ueditor_page_break_tag_/;//根据某处字符来分页
    var saveContent;//用于保存分页数据
    var content, pageList;//保存全局ID

    $(document).ready(function(){
        UeInitialize("#content-box","#page");
    });
    UeInitialize = function (id,page) {
        var cTxt = $(id).html();
        content = $(id);
        pageList = $(page);
        if (cTxt != null && regExp.test(cTxt)) {

            saveContent = cTxt.split(regExp);

            pageCount = saveContent.length;

        }
        window.UePageContent(1);
    };

    UePageContent = function (pageIndex) {
        if (pageIndex >= 1 && pageIndex <= pageCount && saveContent != null && saveContent.length >= 0) {
            var pageHtml = pageList;
            if ((parseInt(pageIndex) - 1) <= saveContent.length) {
                content.html(saveContent[parseInt(pageIndex) - 1]);
            }

            pageHtml.html("");
            var innHtml = "<li><a>页数：" +pageIndex +"/"+pageCount+"</a></li>";
            innHtml += "<li><a target='_self' href='javascript:UePageContent(1)'>首页</a></li>";
            if (pageIndex > 1) {
                innHtml += "<li><a target='_self' href='javascript:UePageContent(" + (parseInt(pageIndex) - 1) + ")'>上一页</a></li>";
            }
            if (pageIndex < pageCount) {
                innHtml += "<li><a target='_self' href='javascript:UePageContent(" + (parseInt(pageIndex) + 1) + ")'>下一页</a></li>";
            }
            innHtml += "<li><a target='_self' href='javascript:UePageContent(" + pageCount + ")'>末页</a></li>";
            pageHtml.html(innHtml);
        }
    }
</script>


<!-------banner------>

<p class="su-banner pt10">
<notempty name='adinfo0'>
    <foreach name="adinfo0" item="v">

            <img src="{$Think.const.SITE_URL}{$v.pic}" />

    </foreach>
</notempty>
</p>

<!----banner---->
<div class="column-c pt10 ser">
    <div class="ser-left fl">
        <if condition="$pid eq 0">
            <p class="ser-tit fl"><a href="{:U('Index/index')}" class="bule fwb">首页</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" />
                <a href="{$daohang.first_url}">{$daohang.first}</a> </p>
            <else/>
            <p class="ser-tit fl"><a href="{:U('Index/index')}">首页</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" />
                 <a href="{$daohang.second_url}">{$daohang.second}</a>
                <img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" />
                <a href="{$daohang.first_url}">{$daohang.first}</a></p>
        </if>
    </div>
</div>
<!-------第一通栏------->
<div class="column-c pt10 pb30">
    <!--****左边边通栏****-->
    <div class="set-lis-l fl">
        <!--****左边第一通栏****-->

        <div class="set-fi-t fl">

            <h1 class="set-fi-tit fl">{$info.news_title}</h1>
            <p class="set-fi-sm fl fs12"><span class="bule pr20">{$info.author}</span> <span class="l-gray pr20">{$info.add_time}</span><span class="set-fi-smsz">{$info.click}</span></p>

        </div>
        <!--****左边第二通栏****-->
        <div  id="content-box" class="set-fi fl pt15">
            <p>{$info.content}</p>
        </div>

        <!--****左边第三通栏****-->
        <ul class="page" id="page">
        </ul>
        <!--****左边第四通栏****-->
        <!--<p class="set-fi-fx fs12 pt15 pb10"><span  class="fl pt5">分享到：</span><span class="fl pt5 pr15"><a href=""><img src="{$Think.const.HIMG_URL}images_117.jpg" />QQ好友</a></span><span class="fl pt5 pr15"><a href=""><img src="{$Think.const.HIMG_URL}images_118.jpg" />QQ空间</a></span><span class="fl pt5 pr15"><a href=""><img src="{$Think.const.HIMG_URL}images_119.jpg" />朋友圈间</a></span><span class="fl pt5 pr15"><a href=""><img src="{$Think.const.HIMG_URL}images_120.jpg" />微信好友</a></span></p>-->
        <!--****左边第五通栏****-->
        <input type='hidden' id='news_id' value='{$info.news_id}'>
        <div class="set-fi-wy fl" style="padding-top: 5px; height:157px;">
                <p class="set-fi-wytt fl pb10 ">网友评论<span class="l-gray pr20 fs12 pl20">文明上网理性发言</span><span class="fr fs12 bule">{$commenttotal}条评论</span>
                </p>

            <textarea  id="content" cols="" rows="" style='width:700px; height:30px;padding-top: 32px;'></textarea>
            <input type="button" class="sub_btn" value="评论" onclick="send_comment()">
        </div>
         <style type="text/css">
             .sub_btn {
                 float: right;
                 display: inline-block;
                 zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
                 *display: inline;
                 vertical-align: baseline;
                 margin: 6px 2px;
                 outline: none;
                 cursor: pointer;
                 text-align: center;
                 font: 14px/100% Arial, Helvetica, sans-serif;
                 padding: .5em 2em .55em;
                 text-shadow: 0 1px 1px rgba(0,0,0,.6);
                 -webkit-border-radius: 3px;
                 -moz-border-radius: 3px;
                 border-radius: 3px;
                 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
                 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
                 box-shadow: 0 1px 2px rgba(0,0,0,.2);
                 color: #e8f0de;
                 border: solid 1px #004084;
                 background: #004084;
                 background: -webkit-gradient(linear, left top, left bottom, from(#004084), to(#004084));
                 background: -moz-linear-gradient(top,  #004084,  #004084);
                 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#004084', endColorstr='#004084');
             }
             .sub_btn:hover {
                 background: #004084;
                 background: -webkit-gradient(linear, left top, left bottom, from(#004084), to(#004084));
                 background: -moz-linear-gradient(top,  #004084,  #004084);
                 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#004084', endColorstr='#004084');
             }
         </style>
        <script type="text/javascript">
            var ue = UE.getEditor('content',{toolbars: [['emotion']]});
        </script>
<script style="text/javascript">
      function send_comment(){
          var content= UE.getEditor('content').getContent();//"富文本textarea"获得信息方法
          if(content==''){
              alert('内容不能为空!');
              return;
          }
          var news_id = $('#news_id').val();
          $.ajax({
              url:"__MODULE__/Ncomment/sendComment",
              data:{'content':content,'news_id':news_id},
              dataType:'json',
              type:'post',
              success:function(data){
			  if(data.error == 'illegalword'){
			ue.setContent(data.result);
			alert(data.mingan);
			return;
		}
                  var s = '<ul class="set-fi-wy-lb fl"><li><dl class="set-fi-wy-lis fl"><dt><img src="{$Think.const.HIMG_URL}images_130.jpg" alt="" /></dt><dd><span class="fr l-gray">'+data.add_time+'</span><p class="fl pt10">'+data.content+'</p></dd></dl></li></ul>';
                  //追加s变量到页面上
                  $('.set-fi-wy').after(s);

                  UE.getEditor('content').setContent('', false);

//                  $(document).scrollTop(500px);//设置滚动条的显示位置(向下卷起700px)
              }
          });
      }
</script>

        <!--****左边第六通栏****-->

            <ul class="set-fi-wy-lb fl">  <foreach name="cominfo" item="v">
                <li><dl class="set-fi-wy-lis fl"><dt><img src="{$Think.const.HIMG_URL}images_130.jpg" alt="" /></dt><dd><span class="fr l-gray">{$v.add_time}</span><p class="fl pt10">{$v.content}</p></dd></dl></li>
</foreach>
            </ul>


<script type="text/jscript" src="{$Think.const.PLUGIN_URL}jquerypage/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src='{$Think.const.PLUGIN_URL}jquerypage/jquery-page.js' ></script>
<link href="{$Think.const.PLUGIN_URL}jquerypage/page.css" rel="stylesheet" type="text/css"/>
        <input type='hidden' id='commenttotal' value='{$commenttotal}' />
        <script type="text/javascript">
            $(function(){
                (function() {

                    //获得记录的总条数
                    var num_entries = $("#commenttotal").val();

                    if(num_entries == 0){
                        $('#Pagination').hide();
                    } else{
                        // 创建分页,并显示到#Pagination所在的元素中
                        $("#Pagination").pagination(num_entries, {

                            num_edge_entries: 1, //边缘页数
                            num_display_entries: 10, //主体页数
                            callback: pageselectCallback,
                           items_per_page:10//每页显示1项

                        });
                    }
                })();

                //点击“页码列表”时的回调函数
                function pageselectCallback(page_index, jq){
                    var news_id = $('#news_id').val();
                    //page_index:"当前页码-1"后的数据
                    //console.log(page_index);
                    //Ajax根据page_index获得分页的数据
                    //在CommentController::getCommentInfo里边获得数据
                    $.ajax({
                        url:"__MODULE__/Ncomment/getCommentInfo",
                        data:{'news_id':news_id,'page':page_index},
                        dataType:'json',
                        type:'post',
                        success:function(data){

                         console.log(data);
                            //data 与 html标签 做结合 并显示给页面
                            var s = "";
                            $.each(data,function(m,n){
                                //console.log(n.cmt_content);
                                //m:是遍历出来元素的各个下标
                                //n:是遍历出来各个元素对象
                                s += '<ul class="set-fi-wy-lb fl"><li><dl class="set-fi-wy-lis fl"><dt><img src="{$Think.const.HIMG_URL}images_130.jpg" alt="" /></dt><dd><span class="fr l-gray">'+n.add_time+'</span><p class="fl pt10">'+n.content+'</p></dd></dl></li></ul>';
                            });
                            $('.set-fi-wy-lb').remove();//清除之前旧数据
                            $('.set-fi-wy').after(s);//追加
                        }
                    });
                }
            });
        </script>

        <!-- 分页信息 start -->
        <div id="Pagination" class="pagination">
        </div>
    </div>


    <div class="set-lis-r fr">
        <!--****右边第一通栏****-->
        <div class="set-lis-tj fl pb10">
            <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_142.jpg" alt="" /></p>
            <ul class="nhtt-list-a fl pt15">
                <foreach name="clickinfo" item="v">
                    <li><a href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>

            </ul>
        </div>
		<notempty name='adinfo3'>
        <foreach name="adinfo3" item="v">
                <p class="pt15"> <img src="{$Think.const.SITE_URL}{$v.pic}" />  </p>
        </foreach>
		</notempty>
		<notempty name='adinfo4'>
        <foreach name="adinfo4" item="v">
                <p class="pt15"><img src="{$Think.const.SITE_URL}{$v.pic}" /> </p>
        </foreach>
		</notempty>
		<notempty name='adinfo5'>
        <foreach name="adinfo5" item="v">
                <p class="pt15"><img src="{$Think.const.SITE_URL}{$v.pic}" /> </p>
        </foreach>
		</notempty>
    </div>
</div>



<script type="text/javascript">
    /*
     * 根据元素的id获得其坐标(x轴和y轴)
     */
    function getElementPos(elementId) {
        var ua = navigator.userAgent.toLowerCase();
        var isOpera = (ua.indexOf('opera') != -1);
        var isIE = (ua.indexOf('msie') != -1 && !isOpera); // not opera spoof
        var el = document.getElementById(elementId);
        if(el.parentNode === null || el.style.display == 'none') {
            return false;
        }
        var parent = null;
        var pos = [];
        var box;
        if(el.getBoundingClientRect) {   //IE
            box = el.getBoundingClientRect();
            var scrollTop = Math.max(document.documentElement.scrollTop, document.body.scrollTop);
            var scrollLeft = Math.max(document.documentElement.scrollLeft, document.body.scrollLeft);
            return {
                x:box.left + scrollLeft,
                y:box.top + scrollTop
            };
        }else if(document.getBoxObjectFor) {   // gecko
            box = document.getBoxObjectFor(el);
            var borderLeft = (el.style.borderLeftWidth)?parseInt(el.style.borderLeftWidth):0;
            var borderTop = (el.style.borderTopWidth)?parseInt(el.style.borderTopWidth):0;
            pos = [box.x - borderLeft, box.y - borderTop];
        }else {   // safari & opera
            pos = [el.offsetLeft, el.offsetTop];
            parent = el.offsetParent;
            if (parent != el) {
                while (parent) {
                    pos[0] += parent.offsetLeft;
                    pos[1] += parent.offsetTop;
                    parent = parent.offsetParent;
                }
            }
            if (ua.indexOf('opera') != -1 || ( ua.indexOf('safari') != -1 && el.style.position == 'absolute' )) {
                pos[0] -= document.body.offsetLeft;
                pos[1] -= document.body.offsetTop;
            }
        }
        if (el.parentNode) {
            parent = el.parentNode;
        } else {
            parent = null;
        }
        while (parent && parent.tagName != 'BODY' && parent.tagName != 'HTML') { // account for any scrolled ancestors
            pos[0] -= parent.scrollLeft;
            pos[1] -= parent.scrollTop;
            if (parent.parentNode) {
                parent = parent.parentNode;
            } else {
                parent = null;
            }
        }
        return {
            x:pos[0],
            y:pos[1]
        };
    }

</script>

