





<!-----banner------>
<notempty name="adinfo0">
<p class="com-banner">
    <foreach name="adinfo0" item="v">
            <img src="{$Think.const.SITE_URL}{$v.pic}" />
    </foreach>
</p>
</notempty>
<!-------banner---->

<div class="column-c pt10 ser pb30">
  <p class="com-tit fl">法规<span class="red">政策</span></p>
  <ul class="fl com-lift">
    <li class="cur"><a href="">国家政策法规</a></li>
    <li><a href="">部委政策法规</a></li>
    <li><a href="">军队政策法规</a></li>
    <li><a href=""> 创新政策法规</a></li>
    <li><a href=""> 专项资金政策</a></li>
    <li><a href="">北京市政策法规</a></li>
    <li><a href="">其他政策法规</a></li>
  </ul>
  <ul class="set-lis_lba fr">
    <li>
      <p class="set-lis-wz fl"><a href="/index.php/Home/News/detail/news_id/591.html">公安部推出支持北京创新发展20项出入境政策措施解读</a></p>
      <p class="set-lis-nr fl w100">近日，公安部推出支持北京创新发展的20项出入境政策措施，将于2016年3月1日起实施。这些出入境政策措施涉及到外国人签证、入境出境、停留居留、永久居留等各个方面，是公安部落实人</p>
      <p class="set-lis-plgz fl  fs12">2016-12-14 10:51:26</p>
      <p class="set-lis-plgz fr fs12"><span class="pr15"><img src="http://www.bjlhcq.com/Public/Home/images/images_06.png" alt="">0</span><span class="pr15 fl"><img src="http://www.bjlhcq.com/Public/Home/images/images_07.png" alt="">18</span></p>
    </li>
  </ul>
        <!--****左边第二通栏****-->
        <ul class="page">
        {$page}
        </ul>
    </div>
    <!--****右边通栏****-->


 


    </div>
</div>
