
<!-------banner------->
<!-------banner------->
<notempty name="adinfo0">
<p class="su-banner pt10">
    <foreach name="adinfo0" item="v">
            <img src="{$Think.const.SITE_URL}{$v.pic}" />
    </foreach>
</p>
</notempty>
<!-------第一通栏------->
<div class="column-c pt10 ser">
    <div class="ser-left fl">
        <p class="ser-tit fl"><a class="bule fwb" href="{:U('Index/index')}" class="bule fwb">首页</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a target="_blank" href="{:U('News/lanhaizixun')}">蓝海资讯</a></p>
    </div>

</div>
<!-------第二通栏------->
<div class="column-c pt10">
<!-------ad------->
    <style>
        /**********hiSlider滚动*****************/
        .hiSlider{
            overflow: hidden;
            height:295px;
            width: 540px;
            background: #eee;
        }
        .hiSlider-item{
            float: left;
            overflow: hidden;
            width: 540px;
        }
        .hiSlider-item img{
            width:540px;
            height:295px;
        }
        .hiSlider-pages, .hiSlider-title {
            position: absolute;
            z-index: 3
        }

        .hiSlider-title {
            bottom: 0;
            width: 100%;
            padding: 6px 0;
            color: #fff;
            text-indent: 10px;
            background: rgba(0,0,0,.6);
            z-index: 2;
            overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;
        }
        .hiSlider-pages {
            bottom:40px;
            right: 10px;
            text-align: right
        }
        .hiSlider-pages a {
            height: 8px;
            width: 8px;
            margin: 0 3px;
            display: inline-block;
            overflow: hidden;
            text-indent: -100px;
            font-size: 0;
            border-radius: 50%;
            background: #ddd
        }
        .hiSlider-pages a.active {
            background: #5472BF
        }
    </style>
<div class="coniner fl">
  <ul class="hiSlider hiSlider1">
    <foreach name="clickinfo" item="v">
		<li data-title="{$v.news_title}" class="hiSlider-item"><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.piclie}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if>></a></li> </foreach>
	</ul>
    </div>
    <!--<div class="coniner fl" id="idTransformView3">
        <ul class="slier slier2" id="idSlider3">
            <foreach name="clickinfo" item="v">
                <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}"/></a>
                    <div class="idSiideer-pos ot-wd">{$v.news_title}</div>
                    <div class="idSiideer-pos2"></div>
                </li>
            </foreach>


        </ul>
        <ul class="num-a" id="idNum3">
            <foreach name="clickinfo" item="v">
            <li></li>
            </foreach>
        </ul>
    </div>-->

    <ul class="news fr">
        <foreach name="pinginfo" item="v">
            <li>
                <h2><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h2>
                <p class="news-sm ot-wd">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,88,'utf-8'}...</p>
            </li>
        </foreach>


    </ul>
</div>

<!-------第三通栏------->
<div class="column-c pt5">
    <div class="pt30">
        <div class="view-a pr20 fl">
            <p class="view-a-t fl"><span class="fr"><a target="_blank" href="{:U('News/newslist',array('lan_id'=>$shidianinfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_22.jpg" alt="蓝海试点" /></p>
            <dl>
                <foreach name="shidianinfo1" item="v">
                    <h5><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h5>
                    <dt><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.pic}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if> /></a></dt>
                    <dd><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>
            </dl>
            <ul>
                <foreach name="shidianinfo2" item="v">
                    <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a pr20 fl">
            <p class="view-a-t fl"><span class="fr"><a target="_blank" href="{:U('News/newslist',array('lan_id'=>$anquanzonghenginfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_24.jpg" alt="安全纵横" /></p>
            <dl>
                <foreach name="anquanzonghenginfo1" item="v">
                    <h5><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h5>
                    <dt><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.pic}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if>/></a></dt>
                    <dd><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="anquanzonghenginfo2" item="v">
                    <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a fl">
            <p class="view-a-t fl"><span class="fr"><a target="_blank" href="{:U('News/newslist',array('lan_id'=>$sihailanshenginfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_26.jpg" alt="思海揽胜" /></p>
            <dl>
                <foreach name="sihailanshenginfo1" item="v">
                    <h5><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h5>
                    <dt><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.pic}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if>/></a></dt>
                    <dd><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="sihailanshenginfo2" item="v">
                    <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a pr20 fl">
            <p class="view-a-t fl"><span class="fr"><a target="_blank" href="{:U('News/newslist',array('lan_id'=>$junshidongtaiinfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_40.jpg" alt="军事动态" /></p>
            <dl>
                <foreach name="junshidongtaiinfo1" item="v">
                    <h5><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h5>
                    <dt><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.pic}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if>/></a></dt>
                    <dd><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="junshidongtaiinfo2" item="v">
                    <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a pr20 fl">
            <p class="view-a-t fl"><span class="fr"><a target="_blank" href="{:U('News/newslist',array('lan_id'=>$jianduankejiinfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_41.jpg" alt="尖端科技" /></p>
            <dl>
                <foreach name="jianduankejiinfo1" item="v">
                    <h5><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h5>
                    <dt><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.pic}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if>/></a></dt>
                    <dd><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="jianduankejiinfo2" item="v">
                    <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a fl">
            <p class="view-a-t fl"><span class="fr"><a target="_blank" href="{:U('News/newslist',array('lan_id'=>$kaixinleyuaninfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_42.jpg" alt="开心乐园" /></p>
            <dl>
                <foreach name="kaixinleyuaninfo1" item="v">
                    <h5><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></h5>
                    <dt><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}"><img  <if condition="($v.pic neq '') AND ($v.pic neq './Public/Upl/news/')">src="{$Think.const.SITE_URL}{$v.pic}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq '')"/>src="{$v.picfirst}"
<elseif condition="($v.match eq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq '')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"
<elseif condition="($v.match neq 'http') AND ($v.pic eq './Public/Upl/news/')"/>src="{$Think.const.SITE_URL}{$v.picfirst}"</if>/></a></dt>
                    <dd><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="kaixinleyuaninfo2" item="v">
                    <li><a target="_blank" href="{:U('News/detail',array('news_id'=>$v['news_id'],'lan_id'=>$v['lan_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
    </div>
</div>


<!-------第八通栏------->
<notempty name="adinfo2">
<p class="column-c ad1 pb30">
    <foreach name="adinfo2" item="v">
            <img src="{$Think.const.SITE_URL}{$v.pic}" />
    </foreach>
</p>
</notempty>