    <link href="{$Think.const.HCSS_URL}personal-style.css" type="text/css" rel="stylesheet" />
    <section class="add" style="position:relative">
       <div class="add_nav">
            <h2>可兑现积分:</h2>
            <h3><b style="font-style:italic;font-size:120%" id="cash_sc">{$cash_sc}</b></h3>
            <p>兑换说明：每周一统一处理兑现申请；兑现积分额必须100起，
                均按100的倍数兑现否则无法通过审核。</p>
       </div>
       <div class="add_main">
        <form action="" method="post" id="form">
           <h2>申请兑现:</h2>
            <p><input name="amount" type="text" placeholder="0.00"/><span>元</span></p>
            <h3>即日起将统一收取{$set['commission']}%服务费</h3>
            <h4><select name="count_id" style=" padding:0.7rem 0; font-size:1.0rem;border:1px solid #D6D6D6;color: #6A6A6A;outline:none; margin-top:0.5rem;">
                <option value="">请选择账户</option>
                <foreach name="account" item="info">
                    <if condition="$info.count_type eq '支付宝'">
                        <option value="{$info.count_id}">{$info.count_no}</option>
                    </if>
                    <if condition="$info.count_type eq '银行卡'">
                        <option value="{$info.count_id}">{$info.bankname}:{$info.card_no}</option>
                    </if>
                </foreach>
            </select></h4>
			<h2>身份证号:</h2>
            <p><input name="idnumber" type="text" placeholder="请输入身份证号"/></p>
			<h2>兑现密码:</h2>
            <p><input name="cashpwd" type="password" placeholder="请输入兑现密码"/></p>
			<p>（<a href="__MODULE__/User/cashpwd" style="text-decoration:underline">设置兑现密码</a>）</p>
            <h5>
                <input style="font-size:1.800rem;height:3.500rem;font-family: '黑体';color: #ffffff;border-radius:0.4rem" type="button" value="提交申请"/>
            </h5>
        </form>
       </div>
    </section>
    <script type="text/javascript">
		function isCardNo(card)
		{
		   // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
		   var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
		   if(reg.test(card) === false)
		   {
			   //alert("身份证输入不合法");
			   return  false;
		   }else{
			   return true;
		   }
		}
        $(function(){
            var flag = false;
            $("#form input[type='button']").click(function(){
                $("#form").submit(function(){return false});
                $("#form input[type='button']").attr('disabled',true);
                var amount = $("input[name='amount']").val();
                var newamount = '';
                if(isNaN(amount)){
                    amount = '0.00';
                }else{
                    amount = Math.abs(amount)+'';
                    if(amount.indexOf('.') == -1){
                        amount += '.00';
                    }else{
                        for(var i=0;i<amount.length;i++){
                            if(amount[i] == '.'){
                                newamount += '.';
                                newamount += '00';
                                break;
                            }
                            newamount += amount[i];
                        }
                        amount = newamount;
                    }
                }
                $("input[name='amount']").val(amount);
                //alert($("input[name='balance']").val());
                if($("input[name='amount']").val() == '0.00'){
                    flag = false;
                    $("#form input[type='button']").attr('disabled',false);
                    $("input[name='amount']").val("请输入100的整倍");
                    $("input[name='amount']").css('color','red');
                    $("input[name='amount']").attr('readonly','readonly');
                    setTimeout(function(){$("input[name='amount']").val('');$("input[name='amount']").css('color','');$("input[name='amount']").removeAttr('readonly')},1000);
                    return;
                }else{
                    flag = true;
                }
                if((Math.abs(amount)%100) != 0){
                    flag = false;
                    $("#form input[type='button']").attr('disabled',false);
                    $("input[name='amount']").val("请输入100的整倍");
                    $("input[name='amount']").css('color','red');
                    $("input[name='amount']").attr('readonly','readonly');
                    setTimeout(function(){$("input[name='amount']").val('');$("input[name='amount']").css('color','');$("input[name='amount']").removeAttr('readonly')},1000);
                    return;
                }else{
                    flag = true;
                }
                if($("select[name='count_id']").val() == ''){
                    flag = false;
                    $("#form input[type='button']").attr('disabled',false);
                    $("select[name='count_id']").css("color",'red');
                    $("select[name='count_id']").attr('disabled',true);
                    setTimeout(function(){$("select[name='count_id']").css('color','');$("select[name='count_id']").attr('disabled',false);},1000);
                    return;
                }else{
                    flag = true;
                }
				if($("input[name='idnumber']").val() == ''){
					$("#form input[type='button']").attr('disabled',false);
					$("input[name='idnumber']").val("请输入身份证号");
					$("input[name='idnumber']").css('color','red');
					$("input[name='idnumber']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='idnumber']").val('');$("input[name='idnumber']").css('color','');$("input[name='idnumber']").removeAttr('readonly')},1000);
					return;
				}else{
					flag = true;
				}
				if(!isCardNo($("input[name='idnumber']").val())){
					$("#form input[type='button']").attr('disabled',false);
					$("input[name='idnumber']").val("非法身份证号");
					$("input[name='idnumber']").css('color','red');
					$("input[name='idnumber']").attr('readonly','readonly');
					setTimeout(function(){$("input[name='idnumber']").val('');$("input[name='idnumber']").css('color','');$("input[name='idnumber']").removeAttr('readonly')},1000);
					return;
				}else{
					flag = true;
				}
				if($("input[name='cashpwd']").val() == ''){
					$("#form input[type='button']").attr('disabled',false);
					$("input[name='cashpwd']").get(0).type='text';
					$("input[name='cashpwd']").attr('readonly','readonly');
					$("input[name='cashpwd']").val('请输入兑现密码');
					$("input[name='cashpwd']").css('color','red');
					setTimeout(function(){$("input[name='cashpwd']").val('');$("input[name='cashpwd']").css('color','');$("input[name='cashpwd']").removeAttr('readonly');$("input[name='cashpwd']").get(0).type='cashpwd';$("input[name='cashpwd']").removeAttr('readonly')},1000);
					return;
				}else{
					flag = true;
				}
                if(flag){
                    $.post("__MODULE__/Exchange/exchange",$("#form").serialize(),function(data){
                        if(data.error == 0){
                            $("#cash_sc").text(data.cash_sc);
                            $("section").append("<div id='errormsg' style='display:none;position:absolute;left:50%;top:50%;z-index:9999;width:12rem;height:3rem;margin-left:-6rem;margin-top:-1.5rem;text-align:center;line-height:3rem;color:white;font-weight:bold;font-size:1.5rem;opacity:0.7;background:#666'>"+data.content+"</div>");

                            $("#errormsg").fadeIn(1000);$("#errormsg").fadeOut(1000);$("#bsubmit").attr('disabled',true);setTimeout(function(){$("#errormsg").remove();$("#bsubmit").attr('disabled',false);history.go(-1)},2000);
                        }else if(data.error == 1){
                            flag = false;
                            $("#form input[type='button']").attr('disabled',false);
                            $("section").append("<div id='errormsg' style='display:none;position:absolute;left:50%;top:50%;z-index:9999;width:12rem;height:3rem;margin-left:-6rem;margin-top:-1.5rem;text-align:center;line-height:3rem;color:white;font-weight:bold;font-size:1.5rem;opacity:0.7;background:#666'>"+data.content+"</div>");

                            $("#errormsg").fadeIn(1000);$("#errormsg").fadeOut(1000);$("#bsubmit").attr('disabled',true);setTimeout(function(){$("#errormsg").remove();$("#bsubmit").attr('disabled',false);},2000);
                        }else if(data.error == 2){
							flag = false;
                            $("#form input[type='button']").attr('disabled',false);
                            $("section").append("<div id='errormsg' style='display:none;position:absolute;left:50%;top:50%;z-index:9999;width:12rem;height:3rem;margin-left:-6rem;margin-top:-1.5rem;text-align:center;line-height:3rem;color:white;font-weight:bold;font-size:1.5rem;opacity:0.7;background:#666'>"+'请先完善资料'+"</div>");

                            $("#errormsg").fadeIn(1000);$("#errormsg").fadeOut(1000);$("#bsubmit").attr('disabled',true);setTimeout(function(){$("#errormsg").remove();$("#bsubmit").attr('disabled',false);location.href="__MODULE__/User/personal"},2000);
						}else if(data.error == 3){
							flag = false;
                            $("#form input[type='button']").attr('disabled',false);
                            $("section").append("<div id='errormsg' style='display:none;position:absolute;left:50%;top:50%;z-index:9999;width:12rem;height:3rem;margin-left:-6rem;margin-top:-1.5rem;text-align:center;line-height:3rem;color:white;font-weight:bold;font-size:1.5rem;opacity:0.7;background:#666'>"+'请设置兑现密码'+"</div>");

                            $("#errormsg").fadeIn(1000);$("#errormsg").fadeOut(1000);$("#bsubmit").attr('disabled',true);setTimeout(function(){$("#errormsg").remove();location.href="__MODULE__/User/cashpwd"},2000);
						}else if(data.error == 4){
							$("#form input[type='button']").attr('disabled',false);
							$("input[name='idnumber']").val("身份证号不正确");
							$("input[name='idnumber']").css('color','red');
							$("input[name='idnumber']").attr('readonly','readonly');
							setTimeout(function(){$("input[name='idnumber']").val('');$("input[name='idnumber']").css('color','');$("input[name='idnumber']").removeAttr('readonly')},1000);
						}else if(data.error == 5){
							$("#form input[type='button']").attr('disabled',false);
							$("input[name='cashpwd']").get(0).type='text';
							$("input[name='cashpwd']").attr('readonly','readonly');
							$("input[name='cashpwd']").val('兑现密码不正确');
							$("input[name='cashpwd']").css('color','red');
							setTimeout(function(){$("input[name='cashpwd']").val('');$("input[name='cashpwd']").css('color','');$("input[name='cashpwd']").removeAttr('readonly');$("input[name='cashpwd']").get(0).type='cashpwd';$("input[name='cashpwd']").removeAttr('readonly')},1000);
						}
                    })
                }
            })
        })
    </script>
