<!--*****header*****-->
<div class="main">
    <!--*****banner*****-->
    <div class="su-banner">
        <foreach name="slides" item="slide">
            <img src="{$slide.picmobile|substr=###,1}" alt="">
        </foreach>
    </div>
    <!--*****bannerend*****-->

    <!--*****menu*****-->
    <section class="su-menu-a b-white">
        <div class="su-scroll">
            <foreach name="category" item="cateinfo">
                <a <if condition="ACTION_NAME eq $cateinfo['action']">class="cur"</if> href="__MODULE__/{$cateinfo['ctrl']}/{$cateinfo['action']}">{$cateinfo.cat_name}</a>
            </foreach>
        </div>
    </section>
    <!--*****menuend*****-->
    <!--*****su-con*****-->
    <section class="su-con">
        <div class="su-fron">
            <p>　　随着我国“一带一路、京津冀协同发展、长江经济带”三大战略的推进，铁路、公路、市政、桥梁、隧道、电力、水利等与民生息息相关的基础设施正逐步成为工程建设领域的主战场。其中，预应力混凝土结构在基础建设中所占比例较大，而缓粘结预应力技术因其具有突出的技术优势在预应力混凝土领域的市场份额逐年递增。在利好的市场环境下，中国缓粘结网致力于创建缓粘结核心产业链，链接缓粘结产业的优质企业，增强缓粘结技术的核心竞争力，推进缓粘结行业的良性、快速发展。</p>
            <p>　　产业联盟---驱动缓粘结预应力行业的良性发展；</p>
            <p>　　战略定位---专注于缓粘结预应力技术的研究与开发；<br>　　　　　　---致力于缓粘结预应力技术的推广与应用；<br/>　　　　　　---着眼于缓粘结预应力行业的融合与提升；</p>
            <p>　　产业结构---金属材料、高分子材料、机械与机电、建筑结构、工程施工、应用检测；</p>
            <p><img src="{$Think.const.HIMG_URL}img_struct.png" alt=""></p>
        </div>

    </section>
    <!--*****su-conend*****-->
</div>