<form id="order-cancel-form" style="padding:30px">


    <div class="f-unit">
        <label class="ui-label w60">订单号：</label>
        <div class="form-tip">
            {$order_no}
        </div>
        <input type="hidden" name="order_id" id="order_id" value="{$order_id}"/>
    </div>

    <div class="f-unit">
        <label class="ui-label w60">取消原因：</label>
        <div class="l" style="width:380px">
            <div>
                <label class="e0-order-selCancelType"><input type="radio" name="cancel_type" checked value="1"><span>&nbsp;缺货</span></label>
            </div>
            <div>
                <label class="e0-order-selCancelType"><input type="radio" name="cancel_type" value="2"><span>&nbsp;订单无效</span></label>
            </div>
            <div>
                <label class="e0-order-selCancelType"><input type="radio" name="cancel_type" value="3"><span>&nbsp;买家要求</span></label>
            </div>
            <div>
                <label class="e0-order-selCancelType"><input type="radio" name="cancel_type" value="0"><span>&nbsp;其他原因</span></label>
            </div>
            <div id="other_cancel_reason" style="display:none">
                <textarea class="form-area w300" name="state_info" id="state_info"></textarea>
            </div>

        </div>

    </div>
</form>