<h3 class="info-tag">
    <form class="cond-form r" method="post" action="/manage/log/del_log_voice" target="iframeNewsTarget" onsubmit="if(!confirm('确认清除吗？')) return false;" style="padding: 0;">
        <select name="log_date">
            <option value="0">-请选择清除的日期-</option>
            <option value="7">一周之前</option>
            <option value="30">一个月之前</option>
            <option value="90">三个月之前</option>
            <option value="180">半年之前</option>
            <option value="365">一年之前</option>
        </select>
        <button type="submit" class="uiBtn BtnOrange" style="padding:1px 10px;">清除日志</button>
    </form>

    {foreach from=$btnMenu item=m key=key}
    <a class="uiBtn{if $btnNo==$key} BtnBlue{/if}" href="{$m.url}"{if $m.str} {$m.str}{/if}>{$m.name}</a>
    {/foreach}
</h3>

<div class="html-box">

    <form class="cond-form clear" action="#!log/voice" onsubmit="return xForm.submit(this)">
        <div class="f-unit">
            <label class="ui-label">手机号：</label>
            <input id="mobile" class="form-i w100" name="mobile" value="{$mobile}" type="text">
            <select name="status">
                <option value="">-发送状态-</option>
                <option value="error" {if 'error' eq $status}selected{/if}>无响应</option>
                <option value="1" {if 1 eq $status}selected{/if}>失败</option>
                <option value="99" {if 99 eq $status}selected{/if}>成功</option>
            </select>
            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue">搜索</button>
        </div>
    </form>

    <form name="formlist" target="iframeNewsTarget" method="post" action="">
    <table class="list">
        <thead>
            <tr>
                <th align="left" class="w30">ID</th>
                <th align="left" class="w120">手机</th>
                <th align="left" class="w100">验证码</th>
                <th align="left" class="w100">状态码</th>
                <th align="left">错误信息</th>
                <th align="left" class="w160">发送时间</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.list item=m}
            <tr>
                <td align="left">{$m.id}</td>
                <td align="left">
                    {$m.mobile}
                    {if $m.v_is_voice eq 1}
                    <span class='iconfont icon-a c-orange' title='已语音验证'>&#xe63b;</span>
                    {else}
                    <span class='iconfont icon-a' title='短信验证'>&#xe612;</span>
                    {/if}
                </td>
                <td align="left">{$m.verifycode}</td>
                <td align="left">
                    {if $m.status eq 'error'}<span class="c-red">无响应</span>
                    {elseif $m.status eq 0}成功
                    {else}<span class="c-orange">$m.status</span>
                    {/if}
                </td>
                <td align="left">{$m.content}</td>
                <td align="left">{if $m.send_time}{$m.send_time|date_format:'Y-m-d H:i:s'}{/if}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
    </form>

</div>

