<h3 class="info-tag">
    <form class="cond-form r" method="post" action="/manage/log/del_log_maillog" target="iframeNewsTarget" onsubmit="if(!confirm('确认清除吗？')) return false;" style="padding: 0;">
        <select name="log_date">
            <option value="0">-请选择清除的日期-</option>
            <option value="7">一周之前</option>
            <option value="30">一个月之前</option>
            <option value="90">三个月之前</option>
            <option value="180">半年之前</option>
            <option value="365">一年之前</option>
        </select>
        <button type="submit" class="uiBtn BtnOrange" style="padding:1px 10px;">清除日志</button>
    </form>

    {foreach from=$btnMenu item=m key=key}
    <a class="uiBtn{if $btnNo==$key} BtnBlue{/if}" href="{$m.url}"{if $m.str} {$m.str}{/if}>{$m.name}</a>
    {/foreach}
</h3>

<div class="html-box">

    <form class="cond-form clear" action="#!log/smslog" onsubmit="return xForm.submit(this)">
        <div class="f-unit">
            <label class="ui-label">邮箱地址：</label>
            <input id="email" class="form-i w100" name="email" value="{$email}" type="text">
            <label class="ui-label">邮件内容：</label>
            <input id="content" class="form-i w360" name="content" value="{$content}" type="text">
            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue">搜索</button>
        </div>
    </form>

    <form name="formlist" target="iframeNewsTarget" method="post" action="">
    <table class="list">
        <thead>
            <tr>
                <th align="left" class="w30">ID</th>
                <th align="left" class="w120">邮箱</th>
                <th align="left">邮件内容</th>
                <th align="left">邮件模板</th>
                <th align="left" class="w160">发送时间</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.list item=m}
            <tr>
                <td align="left" nowrap>{$m.id}</td>
                <td align="left">{$m.email}</td>
                <td align="left">{$m.content}</td>
                <td align="left">{$m.tpl}</td>
                <td align="left">{$m.send_time|date_format:'Y-m-d H:i:s'}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
    </form>

</div>