
<div class="main-content">

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
                <div class="box-title margin_bot_20">
        <div class="span10">
            <h3><i class="icon-magic"></i>法规政策类别添加</h3>
        </div>
    </div>
                <form action="__SELF__" method="post" class="form-horizontal" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="control-label">名　　称 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-large" name="name">
                            <span class="help-inline red"> * </span>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label">排　　序 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-small" name="sort">
                            <span class="help-inline red"> * 请输入正整数</span>
                        </div>
                    </div>
    <div class="form-group">
        <label class="control-label">是否显示 : </label>
        <div class="controls pull-left">
            <label>
                <input type="radio" class="ace" name="is_show" checked="checked" value="0">
                <span class="lbl">是</span>
            </label>
            <label>
                <input type="radio" class="ace" name="is_show" value="1">
                <span class="lbl">否</span>
            </label>
        </div>
    </div>
                    <div class="form-group">
                        <label class="control-label">描　　述 : </label>
                        <div class="controls pull-left">
                            <textarea class="input-large" style="margin: 0px; height: 115px; width: 530px;" name="description"></textarea>
                        </div>
                    </div>


                    <div>
                        <label class="control-label"></label>
                        <button id="bsubmit" type="submit"  class="btn btn-sm btn-primary">添加</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

   

