
<div class="main-content">
    <div class="breadcrumbs">
        <ul>
            <li > <a href="__MODULE__/Column/tianjia">栏目添加 </a> </li>

        </ul>
        <!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
    <form action="__SELF__" method="post" enctype='multipart/form-data' class="form-horizontal">
        <div class="form-group">
            <label class="control-label">名称 : </label>
            <div class="controls pull-left">
            <input type="text" class="input-large" name="name">
            <span class="help-inline red"> * </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">栏目上级 : </label>
            <div class="controls pull-left">
                <select class="input-medium" name="pid">
                    <option value='0'>-请选择-</option>
                    <foreach name='colinfo' item='v'>
                        <option value='{$v.col_id}'>
                            {:str_repeat('--/',$v['level'])}{$v.name}
                        </option>
                    </foreach>
                </select>
                <span class="help-inline red"> * </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">关键字 : </label>
        <div class="controls pull-left">
            <input type="text" class="input-large" name="keywords">
            <span class="help-inline red"> * </span>
        </div>
            </div>
        <div class="form-group">
            <label class="control-label">描述 : </label>
            <div class="controls pull-left">
                <textarea class="input-large" style="margin: 0px; height: 115px; width: 530px;" name="description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">状态 : </label>
            <div class="controls pull-left">
                <label>
                    <input type="radio" class="ace" name="status" checked="checked" value="0">
                    <span class="lbl">显示</span>
                </label>
                <label>
                    <input type="radio" class="ace" name="status" value="1">
                    <span class="lbl">隐藏</span>
                </label>
            </div>
        </div>







        <div class="form-actions">
        <input id="bsubmit" type="submit"  class="btn btn-sm btn-primary" value="保存"/>
        </div>
    </form>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

