<style>
  .mypagestyle{width: 530px;margin: 0px auto;float:left;overflow: hidden;margin-top:20px;}
  .mypagestyle > li{width:auto;padding:0;border-bottom:1px #ddd solid}
</style>
<script type="text/javascript" src="{$Think.const.HJS_URL}jquery-1.8.3.min.js"></script>
<script type="text/javascript" src='{$Think.const.PLUGIN_URL}ueditor/ueditor.config.js' ></script>
<script type="text/javascript" src='{$Think.const.PLUGIN_URL}ueditor/ueditor.all.min.js' ></script>
<script type="text/javascript" src='{$Think.const.PLUGIN_URL}ueditor/lang/zh-cn/zh-cn.js' ></script>
<script type="text/javascript" src="{$Think.const.HJS_URL}msgbox.js"></script>
<script type="text/javascript" src='{$Think.const.HJS_URL}myblog.js' ></script>
<!--banner-->
<div class="bow">
  <div style="width:1000px;margin:0 auto;position:relative">
  <div class="bow-c" style="padding-top:0;left:0;height:auto">
    <p class="fs30 white" style="padding-top:18px">{$bloginfo.blog_name}</p>
    <p class="bow-c-w pt15">
<!-- 	<a class="white" href="http://hetaohetao.blog.tianya.cn" target="_blank">http://hetaohetao.blog.tianya.cn</a> -->
	<br />
      {$bloginfo.blog_desc}</p>
  </div>
  </div>
  <img src="{$Think.const.HIMG_URL}bow_banner.jpg" />
</div>
<ul style="width: 1000px;margin:0 auto;background: url({$Think.const.HIMG_URL}images_10.png) no-repeat left bottom;line-height: 36px;height:36px;display:block;margin-top:-36px;z-index:999;position:relative">
  <li style="float:left;"><a style="color:#fff;height:36px" href="__MODULE__/Blog/myblog">设置管理</a></li>

</ul>
<!--banner-->

<!--第一通栏-->

<div class="column-c pt10 pb30">

  <div class="set-lis-l fl">

    <form action="__SELF__" method="post" id="articleform2">
     <ul class="advice fl">
      <li>
          <p class="poster-t fl">标题：</p>
          <input name="title" class="advice-k w520 fl" placeholder="请输入文章标题！" type="text" value="{$artinfo.title}" />
          <select class="poster-k fl ml28" name="class_id">
            <option style="color:#666;" value='0'>&nbsp;&nbsp;&nbsp;&nbsp;选择分类</option>
            <foreach name='classlist' item='classinfo'>
                  <option style="color:#666;" value='{$classinfo.class_id}' <if condition="$classinfo['class_id'] eq $artinfo['class_id']">selected="selected"</if>>&nbsp;&nbsp;&nbsp;&nbsp;{$classinfo.class_name}</option>
            </foreach>
          </select>
          </p>
        </li>
        <li>
          <p class="poster-t fl">内容：</p> <textarea rows="5" cols="25" id='content' name="content" class="advice-k w653 fl" style='padding:0;border:0;width:663px;height:455px;'>{$artinfo.content}</textarea><div style="clear:both"></div>
        </li>
        <script type="text/javascript">
          var ue = UE.getEditor('content',{toolbars: [[
                    'fullscreen', 'source', '|',
              'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'pasteplain', '|', 'forecolor', 'selectall', 'cleardoc', '|',
              'rowspacingtop', 'rowspacingbottom', 'lineheight',
              'fontfamily', 'fontsize','indent',
              'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
              'link', 'unlink', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
              'simpleupload', 'emotion', '|',
              'inserttable', 'deletetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts'
          ]]});
        </script>
      <li>
        <p class="poster-t fl">&nbsp;</p><p class="lh34"><span class=" pr20"> <!--<label>
                  <input type="radio" name="RadioGroup1" value="博文置顶" id="RadioGroup1_0" />
                  博文置顶</label>-->
               请遵守<a href="" class="bule">蓝海长青公约</a>言论规则，不得违反国家法律法规</span> </p>
      </li>
      <li>
		<input type="hidden" name="art_id" value="{$artinfo.art_id}">
        <span class="logon-an fr mr15"><a href="javascript:void(0)" onclick="subarticleform2()">保&nbsp;存</a></span>
      </li>
    </ul>
    </form>
  </div>
  <!--****右边通栏****-->
  <div class="set-lis-r fr">
    <!--****右边第一通栏****-->
    <if condition="($Think.session.flag neq '') AND ($Think.session.userInfo.is_blog eq 1)">
      <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_160.jpg"  alt=""/></p>
      <dl class="bow-r fl" style="padding-top:10px;padding-bottom:10px">
        <dt><a href="__MODULE__/Blog/myblog"><img src="{$Think.session.userInfo.userhead}" alt="" /></a></dt>
        <dd>
          <p class="fs22 pt10"><a href="__MODULE__/Blog/myblog">{$Think.session.userInfo.username}</a></p>
        </dd>
      </dl>
       <!--****右边第二通栏****-->
      <ul class="bow-list fl pt15" style="padding-bottom:10px">
      <li>今日访问：{$bloginfo.today}</li>
      <li>总访问量：{$bloginfo.counts}</li>
      <li>开博时间：{$bloginfo.ctime|date="Y-m-d",###}</li>
      <li>博客排名：<span class="bule">1023</span></li>
      </ul>
    <else />
      <p class="fl blog-kt"><a href="__MODULE__/Blog/openblog">开通博客</a></p>
    </if>

    <!--****右边第三通栏****-->
    <div class="set-lis-tj fl pt15">
      <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_161.jpg" alt="" /></p>
      <ul class="set-lis-list fl pt15">
        <foreach name="classlist" item="classinfo">
          <li><a href="javascript:void(0)">{$classinfo.class_name}</a></li>
        </foreach>
      </ul>
    </div>
   <!--  <p class="pt15 fl"><img src="{$Think.const.HIMG_URL}images_111.jpg"  alt=""/></p> -->
  </div>
</div>
<script type="text/javascript">
  $(function(){
    changetable();
	$('.mypagestyle a').click(function(){
		var url = $(this).attr('href');
		myarticles(url);
		return false;
	})
	$("#filterbtn").click(function(){
	//alert($("#filterart").attr('action'))
		var datas = $("#filterart").serialize();
		myarticles($("#filterart").attr('action'),datas);
	})
  })
</script>

