<!--banner-->
<p class="com-banner pt10">
    <foreach name="adinfo" item="v">
        <if condition="$v.is_area eq 0">
            <img src="{$Think.const.SITE_URL}{$v.pic}" />
        </if>
    </foreach>

</p>
<!--banner-->

<!--第一通栏-->
<div class="column-c pt10 ser" style="height:50px">
  <div class="ser-left fl">
    <p class="ser-tit fl"><a href="{:U('Index/index')}" class="bule fwb">首页</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a href="{:U('Bbs/index',array('lan_id'=>7))}">长青论坛</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a href="{:U('Blog/index',array('lan_id'=>34))}">长青博客</a></p>
  </div>
  <if condition="$Think.session.flag eq ''">
  <p class="fr pt22"><a href="__MODULE__/User/login">登录</a>｜<a href="__MODULE__/User/register">注册</a></p>
  <else />
  <dl class="set-lis fr">
    <dt><a href="__MODULE__/User/ucenter"><img src="{$Think.session.userInfo.userhead}" alt="" /></a></dt>
    <dd><a href="__MODULE__/User/ucenter">{$Think.session.userInfo.username}</a>&nbsp;|&nbsp;<a href="__MODULE__/User/logout" style="color:#999;cursor:pointer">退出</a><!-- <br />
      <span class="l-gray fs12"><img src="{$Think.const.HIMG_URL}images_92.jpg" alt="" />&nbsp;浙江省</span> --></dd>
  </dl>
  </if>
</div>
<!--第二通栏-->
<div class="column-c pt10 pb30">
  <!--****左边第一通栏****-->
  <div class="set-lis-l fl">
    <ul class="set-lis_lb fl">
      <foreach name="articlelist" key='k' item="articleinfo">
         <!--  <li>
           <p class="set-lis-wz fl"><a href="__MODULE__/Blog/detail/art_id/{$articleinfo.art_id}">{$articleinfo.title}</a></p>
           <p class="set-lis-nr fl" style="width:100%">{$articleinfo.content}</p>
           <p class="set-lis-plgz fl  fs12"><span class="pr15 bule">{$articleinfo.username}</span> {$articleinfo.add_time|date="Y-m-d H:i:s",###}</p>
           <p class="set-lis-plgz fr fs12"><span class="pr15"><img src="{$Think.const.HIMG_URL}images_06.png" alt="" />{$articleinfo.comments}</span><span class="pr15 fl"><img src="{$Think.const.HIMG_URL}images_07.png" alt="" />{$articleinfo.views}</span><a href=""><img src="{$Think.const.HIMG_URL}images_08.png" /></a></p>
         </li> -->
          <li>
            <dl class="set-lis-twjh fl pt15">
              <dt style="width:140px;max-height:140px;overflow:hidden;"><a href="__MODULE__/Blog/detail/art_id/{$articleinfo.art_id}"><img src="{$articleinfo.userhead}" alt="" /></a></dt>
              <dd style="width:568px">
                <p class="set-lis-wz fl"><a href="__MODULE__/Blog/detail/art_id/{$articleinfo.art_id}">{$articleinfo.title}</a></p>
                <p class="set-lis-nr fl" style="max-height:65px;width:100%">{$articleinfo.content}</p>
                <p class="set-lis-plgz fl  fs12"><span class="pr15 bule">{$articleinfo.username}</span> {$articleinfo.add_time|date="Y-m-d H:i:s",###}</p>
                <p class="set-lis-plgz fr fs12"><span class="pr15"><img src="{$Think.const.HIMG_URL}images_06.png" alt="" />{$articleinfo.comments}</span><span class="pr15 fl"><img src="{$Think.const.HIMG_URL}images_07.png" alt="" />{$articleinfo.views}</span></p>
              </dd>
            </dl>
          </li>
      </foreach>
    </ul>
    <!--****左边第二通栏****-->
    <ul class="page">
      {$page}
    </ul>
  </div>
  <!--****右边通栏****-->
  <div class="set-lis-r fr">
    <!--****右边第一通栏****-->
    <if condition="($Think.session.flag neq '') AND ($Think.session.userInfo.is_blog eq 1)">
      <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_160.jpg"  alt=""/></p>
      <dl class="bow-r fl" style="padding-top:10px;padding-bottom:10px">
        <dt><a href="__MODULE__/Blog/myblog"><img src="{$Think.session.userInfo.userhead}" title="点击进入我的博客" alt="" /></a></dt>
        <dd>
          <p class="fs22 pt10"><a href="__MODULE__/Blog/myblog" title="点击进入我的博客">{$Think.session.userInfo.username}</a></p>
        </dd>
      </dl>
       <!--****右边第二通栏****-->
      <ul class="bow-list fl pt15" style="padding-bottom:10px">
      <li>今日访问：{$bloginfo.today}</li>
      <li>总访问量：{$bloginfo.counts}</li>
      <li>开博时间：{$bloginfo.ctime|date="Y-m-d",###}</li>
      <li>博客排名：<span class="bule">1023</span></li>
      </ul>
    <else />
      <p class="fl blog-kt"><a href="__MODULE__/Blog/openblog">开通博客</a></p>
    </if>
    <!--****右边第二通栏****-->
    <div class="set-lis-tj fl">
      <p class="set-lis-tjtt fl"><img src="{$Think.const.HIMG_URL}images_107.jpg" alt="" /></p>
      <ul class="set-lis-list fl pt15">
        <foreach name="hotarticle" item="info">
        <li><a href="__MODULE__/Blog/detail/art_id/{$info.art_id}">{$info.title}</a></li>
        </foreach>
         <foreach name="adinfo" item="v">
                    <if condition="$v.is_area eq 3">
                        <p class="pt15"> <img  src="{$Think.const.SITE_URL}{$v.pic}" />  </p>
                    </if>
                </foreach>
                <foreach name="adinfo" item="v">
                    <if condition="$v.is_area eq 4">
                        <p class="pt15"><img src="{$Think.const.SITE_URL}{$v.pic}" /> </p>
                    </if>
                </foreach>
                <foreach name="adinfo" item="v">
                    <if condition="$v.is_area eq 5">
                        <p class="pt15"><img src="{$Think.const.SITE_URL}{$v.pic}" /> </p>
                    </if>
                </foreach>
      </ul>
    </div>
    <!--****右边第三通栏****-->

  </div>
</div>
