<script type="text/javascript" src="{$Think.const.HJS_URL}jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{$Think.const.HJS_URL}msgbox.js"></script>
<script type="text/javascript" src="{$Think.const.HJS_URL}myblog.js"></script>
<!--banner-->
<p class="su-banner pt10"><img src="{$Think.const.HIMG_URL}images_43.jpg" /></p>
<!--banner-->

<!--第一通栏-->
<div class="column-c pt10 ser" style="height:50px">
  <div class="ser-left fl">
    <p class="ser-tit fl"><a href="{:U('Index/index')}" class="bule fwb">首页</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a href="{:U('Bbs/index',array('lan_id'=>7))}">长青论坛</a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" /><a href="{:U('Famous/famousbbs',array('lan_id'=>36))}">名家讲坛</a></p>
  </div>
  <if condition="$Think.session.flag eq ''">
  <p class="fr pt22"><a href="__MODULE__/User/login">登录</a>｜<a href="__MODULE__/User/register">注册</a></p>
  <else />
  <dl class="set-lis fr">
    <dt><a href="__MODULE__/User/ucenter"><img src="{$Think.session.userInfo.userhead}" alt="" /></a></dt>
    <dd><a href="__MODULE__/User/ucenter">{$Think.session.userInfo.username}</a>&nbsp;|&nbsp;<a href="__MODULE__/User/logout" style="color:#999;cursor:pointer">退出</a><!-- <br />
      <span class="l-gray fs12"><img src="{$Think.const.HIMG_URL}images_92.jpg" alt="" />&nbsp;浙江省</span> --></dd>
  </dl>
  </if>
</div>
<!--****第二通栏****-->
<div class="logon">
  <form action="__MODULE__/Blog/openblog" method="post" id="openblogform">
    <p class="logon-tit fl">开通博客</p>
    <ul class="logon-list fl">
      <li>
        <p class="logon-list-t fl">博客名称：</p>
          <input name="blog_name" type="text" onblur="checkblogname(this.value)" placeholder="请输入博客名称" class="advice-k w320" />
      </li>
      <li>
          <p class="logon-list-t fl">博客简介：</p>
          <textarea name="blog_desc" style="resize: none;" onblur="checkblogdesc(this.value)" class="advice-k w320 fl" placeholder="输入简单的介绍~"></textarea>
      </li>
      <li>
        <p class="logon-list-t fl">验证码：</p>
        <p class="fl">
          <input name="checkverify" type="text" placeholder="请输入验证码" onblur="checkcode(this.value)" class="logon-list-k1" />
          <span class="pl10"><a href="javascript:void(0)" onclick="document.getElementById('codeimg').src = document.getElementById('codeimg').src+'?'+Math.random()">看不清</a></span></p>
      </li>
      <li>
        <p class="logon-list-t fl">&nbsp;</p>
        <p class="fl"><img id="codeimg" src="__MODULE__/Blog/VerifyImg" onclick="this.src=this.src+'?'+Math.random()" /></p>
      </li>
      <li>
        <p class="logon-list-t fl">&nbsp;</p>
        <p class="fl">
          <!-- <input name="" type="checkbox" value="" />
          &nbsp;自动登录</p> -->
      </li>
      <li>
        <p class="logon-list-t fl">&nbsp;</p>
        <p class="fl logon-an"><a href="javascript:void(0)" onclick="subblogform()">开&nbsp;通</a></p>
      </li>
    </ul>
  </form>
</div>
<!--****第三通栏****-->
<div class="logon openblogerror" style="display:none;margin-top:50px;margin-bottom:361px">
  <p class="w320 open">您已成功开通个人博客!&nbsp;<a href="__MODULE__/Blog/myblog" class="bule">进入博客</a><br /> <span class="bule fs16">5</span>&nbsp;秒后自动进入个人博客页面</p>
</div>