

<link href="{$Think.const.HCSS_URL}mypage.css" rel="stylesheet" type="text/css"/>
<foreach name="adinfofen" key="k" item="v">
    <div class="su_banner"><a href="{$v.url}"><img src="{$Think.const.SITE_URL}{$v.pic}" /></a>  </div>
</foreach>
<div class="sideBar">
    <div class="about fl">
        <p class="about_tit fl">加入乐护</p><p class="about_yw fl">Join&nbsp;Le&nbsp;Armor</p>
    </div>


    <div class="about_zc fl">
        <ul class="news_list_tit">
            <li><a href="{:U('TeamAssess/showlist')}">服务团队</a></li>
            <li><a href="{:U('TeamExpert/showlist')}">专家顾问团队</a></li>
            <li class="current"><a href="{:U('TeamManage/showlist')}">管理团队</a></li>
            <li><a href="{:U('Contact/showlist')}">联系我们</a></li>
        </ul>


        <ul class="gltd fl">
            <li>
                <foreach name="manageinfo" key="k" item="v">
                <dl class="gltd_pic fl">
                    <dt><img src="{$Think.const.SITE_URL}{$v.pic}" /></dt>
                    <dd>{$v.title}</dd>
                    <p class="xj_picw">{$v.description|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,50,'utf-8'}</p>
                </dl>
                </foreach>
            </li>

        </ul>
        <table width="600" align="center">
            <tr class="content" align="center">
                <!--<td colspan="3" bgcolor="#FFFFFF">&nbsp;{$page}</td>-->
                <td colspan="3" bgcolor="#FFFFFF" align="center"><div class="pages" align="center">
                    {$page}
                </div></td>
            </tr>
        </table>

    </div>
</div>