@font-face { font-family: "wsfont"; src: url('../font/hlnvfont.eot'); src: url('../font/hlnvfont.eot?#iefix') format('embedded-opentype'),  url('../font/hlnvfont.woff') format('woff'),  url('../font/hlnvfont.svg#weimobfont') format('svg'); }
.wsfont { font-family: "wsfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.icon-wsfont { font-family: "wsfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.ws-openbox:before { content: "\e613"; }
.ws-openbox {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e613');
}
.ws-solution:before { content: "\e615"; }
.ws-solution {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e615');
}
.ws-home:before { content: "\e614"; }
.ws-home {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e614');
}
.ws-bridge:before { content: "\e616"; }
.ws-bridge {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e616');
}
.ws-generalize:before { content: "\e617"; }
.ws-generalize {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e617');
}
.ws-wife:before { content: "\e618"; }
.ws-wife {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e618');
}
.ws-football:before { content: "\e619"; }
.ws-football {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e619');
}
.ws-case:before { content: "\e61a"; }
.ws-case {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e61a');
}
.ws-service:before { content: "\e61b"; }
.ws-service {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e61b');
}
.ws-user:before { content: "\e602"; }
.ws-user {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e602');
}
.ws-senior:before { content: "\e603"; }
.ws-senior {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e603');
}
.ws-customer:before { content: "\e606"; }
.ws-customer {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e606');
}
.ws-chart:before { content: "\e607"; }
.ws-chart {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e607');
}
.ws-setting:before { content: "\e60a"; }
.ws-setting {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e60a');
}
.ws-basis:before { content: "\e60b"; }
.ws-basis {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e60b');
}
.ws-takeaway:before { content: "\e60d"; }
.ws-takeaway {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e60d');
}
.ws-vip:before { content: "\e60e"; }
.ws-vip {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e60e');
}
.ws-catering:before { content: "\e60f"; }
.ws-catering {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e60f');
}
.ws-groupon:before { content: "\e610"; }
.ws-groupon {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e610');
}
.ws-mcatering:before { content: "\e61c"; }
.ws-mcatering {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e61c');
}
.ws-appointment:before { content: "\e61d"; }
.ws-appointment {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e61d');
}
.ws-marketing:before { content: "\e600"; }
.ws-marketing {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e600');
}
.ws-mobile:before { content: "\e601"; }
.ws-mobile {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e601');
}
.ws-stores:before { content: "\e604"; }
.ws-stores {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e604');
}
.ws-weimobpay:before { content: "\e605"; }
.ws-weimobpay {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e605');
}
.ws-hardware:before { content: "\e608"; }
.ws-hardware {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e608');
}
.ws-industry:before { content: "\e609"; }
.ws-industry {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e609');
}
.ws-system:before { content: "\e60c"; }
.ws-system {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e60c');
}
.ws-vshop:before { content: "\e611"; }
.ws-vshop {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e611');
}
.ws-app:before { content: "\e612"; }
.ws-app {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e612');
}
.ws-kingegg:before { content: "\e61e"; }
.ws-kingegg {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e61e');
}
.ws-channelagent:before { content: "\e61f"; }
.ws-channelagent {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e61f');
}
.ws-mchannel:before { content: "\e620"; }
.ws-mchannel {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e620');
}
.ws-redpacket:before { content: "\e621"; }
.ws-redpacket {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e621');
}
.ws-takeout:before { content: "\e622"; }
.ws-takeout {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e622');
}
.ws-upgrade:before { content: "\e623"; }
.ws-upgrade {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e623');
}
.ws-wmapp:before { content: "\e624"; }
.ws-wmapp {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e624');
}
.ws-2048:before { content: "\e625"; }
.ws-2048 {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e625');
}
.ws-calculate:before { content: "\e626"; }
.ws-calculate {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e626');
}
.ws-house:before { content: "\e627"; }
.ws-house {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e627');
}
.ws-grogshop:before { content: "\e628"; }
.ws-grogshop {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e628');
}
.ws-community:before { content: "\e629"; }
.ws-community {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e629');
}
.ws-winport:before { content: "\e62a"; }
.ws-winport {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e62a');
}
.ws-mcar:before { content: "\e62b"; }
.ws-mcar {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e62b');
}
.ws-mcard:before { content: "\e62c"; }
.ws-mcard {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e62c');
}
.ws-mwar:before { content: "\e62d"; }
.ws-mwar {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e62d');
}
.ws-lottery:before { content: "\e62e"; }
.ws-lottery {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e62e');
}
.ws-invitation:before { content: "\e62f"; }
.ws-invitation {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e62f');
}
.ws-nuannan:before { content: "\e630"; }
.ws-nuannan {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e630');
}
.ws-wall:before { content: "\e631"; }
.ws-wall {  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e631');
}
