
<!-------banner------->
<!-------banner------->
<p class="su-banner pt10">
    <foreach name="adinfo" item="v">
        <if condition="$v.is_area eq 0">
            <img src="{$Think.const.SITE_URL}{$v.pic}" />
        </if>
    </foreach>
</p>

<!-------第一通栏------->
<div class="column-c pt10 ser">
    <div class="ser-left fl">
        <p class="ser-tit fl"><a href="index.html"><img src="{$Think.const.HIMG_URL}images_44.jpg" alt="首页" /></a><img src="{$Think.const.HIMG_URL}images_96.jpg" alt="" />咨询服务</p>
    </div>

</div>
<!-------第二通栏------->
<div class="column-c pt10">
    <!-------ad------->
    <div class="coniner fl" id="idTransformView3">
        <ul class="slier slier2" id="idSlider3">
            <foreach name="clickinfo" item="v">
                <li><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}"/></a>
                    <div class="idSiideer-pos">{$v.news_title}</div>
                    <div class="idSiideer-pos2"></div>
                </li>
            </foreach>


        </ul>
        <ul class="num-a" id="idNum3">
            <foreach name="clickinfo" item="v">
            <li></li>
            </foreach>
        </ul>
    </div>

    <ul class="news fr">
        <foreach name="pinginfo" item="v">
            <li>
                <h2><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></h2>
                <p class="news-sm ot-wd">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,88,'utf-8'}</p>
            </li>
        </foreach>


    </ul>
</div>

<!-------第三通栏------->
<div class="column-c pt5">
    <div class="pt30">
        <div class="view-a pr20 fl">
            <p class="view-a-t fl"><span class="fr"><a href="{:U('News/newslist',array('lan_id'=>$yuanqujiansheinfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_80.jpg" alt="园区建设" /></p>
            <dl>
                <foreach name="yuanqujiansheinfo1" item="v">
                    <h5><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></h5>
                    <dt><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}" /></a></dt>
                    <dd><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>
            </dl>
            <ul>
                <foreach name="yuanqujiansheinfo2" item="v">
                    <li><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a pr20 fl">
            <p class="view-a-t fl"><span class="fr"><a href="{:U('News/newslist',array('lan_id'=>$kejifuwuinfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_90.jpg" alt="科技服务" /></p>
            <dl>
                <foreach name="kejifuwuinfo1" item="v">
                    <h5><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></h5>
                    <dt><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}" /></a></dt>
                    <dd><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="kejifuwuinfo2" item="v">
                    <li><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="view-a fl">
            <p class="view-a-t fl"><span class="fr"><a href="{:U('News/newslist',array('lan_id'=>$faguizhengceinfo1[0]['lan_id']))}">更多》</a></span><img src="{$Think.const.HIMG_URL}images_83.jpg" alt="文化传媒" /></p>
            <dl>
                <foreach name="faguizhengceinfo1" item="v">
                    <h5><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></h5>
                    <dt><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}" /></a></dt>
                    <dd><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>

            </dl>
            <ul>
                <foreach name="faguizhengceinfo2" item="v">
                    <li><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<!-------第四通栏------->
<div class="column-c pt5">
    <div class="fuse fl"> <span class="fr"><a href="{:U('News/newslist',array('lan_id'=>$tushuguaninfo[0]['lan_id']))}">更多》</a></span>
        <p class="news-tit fl">网上图书馆</p>
        <dl class="fuse fl">
            <foreach name="tushuguaninfo" item="v">
            <dt><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}" /></a>
                <p class="fuse-wz">{$v.news_title} </p>
            </dt>
            </foreach>
        </dl>
    </div>
    <div class="view-a fr">
        <p class="view-a-t fl"><span class="fr"><a href="{:U('News/newslist',array('lan_id'=>$rencaijiaoliuinfo1[0]['lan_id']))}">更多》</a></span><span class="news-tit fl">人才交流</span></p>
        <dl>
            <foreach name="rencaijiaoliuinfo1" item="v">
            <h5><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></h5>
            <dt><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}"><img src="{$Think.const.SITE_URL}{$v.pic}" /></a></dt>
            <dd><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.content|strip_tags|str_replace=array(" ","　","\t","\n","\r"),array("","","","",""),###|mb_substr=###,0,66,'utf-8'}</a></dd>
                </foreach>
        </dl>
        <ul class="">
            <foreach name="rencaijiaoliuinfo2" item="v">
            <li><a href="{:U('News/detail',array('news_id'=>$v['news_id']))}">{$v.news_title}</a></li>
              </foreach>
        </ul>
    </div>
</div>

<!-------第八通栏------->
<p class="column-c ad1 pb30">
    <foreach name="adinfo" item="v">
        <if condition="$v.is_area eq 2">
            <img src="{$Think.const.SITE_URL}{$v.pic}" />
        </if>
    </foreach>
</p>
