
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472785235'); /* IE9*/
  src: url('iconfont.eot?t=1472785235#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472785235') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472785235') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472785235#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-huwaiyundong:before { content: "\e600"; }
.icon-bijibendiannao:before { content: "\e601"; }
.icon-yewutuixiao:before { content: "\e602"; }
.icon-dangao:before { content: "\e603"; }
.icon-dianshiji:before { content: "\e604"; }
.icon-youxi2:before { content: "\e605"; }
.icon-other:before { content: "\e606"; }
