 
<div class="main-content">

    <div class="page-content">
        <div class="row">
            <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3><i class="icon-magic"></i>banner列表</h3>
                    </div>
                </div>

                <form class="form-horizontal"  action="__SELF__" method="post">
                    <div class="form-group">
                        <label class="control-label">名称 : </label>
                        <div class="controls pull-left">
                            <input type="text" class="input-medium" name="search">
                            <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                        </div>
                        <div class="margin_bot_20" align="right">
                            <a href="{:U('Banner/tianjia')}" class="btn btn-primary btn-sm"><i class="icon-plus"></i>banner添加</a>

                        </div>
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr><th width="5px"><div align="center">id</div></th>
                        <th width="35px"><div align="center">名称</div></th>
                        <th width="55px"><div align="center">图片</div></th>
                        <th width="35px"><div align="center">展示位置</div></th>
                        <th width="150px"><div align="center">链接地址</div></th>
                        <th width="35px"><div align="center">是否展示</div></th>
                        <th width="55px"><div align="center">添加时间</div></th>
                        <th width="60px"><div align="center">操作</div></th>
                    </tr></thead>
                    <tbody>
                    <foreach name="info" key="k" item="v">
                        <tr>
                            <td><div align="center">{$v.ad_id}</div></td>
                            <td><div align="center">{$v.title}</div></td>
                            <td><div align="center"><img src="{$Think.const.SITE_URL}{$v.pic}"  width='70' height='50'/></div></td>
                            <if condition="$v.is_area eq 0">
                                <td><div align="center">首页</div> </td>
                            <elseif condition="$v.is_area eq 1"/>
                                <td><div align="center">新闻资讯</div> </td>
                                <elseif condition="$v.is_area eq 2"/>
                                <td><div align="center">乐购商城</div> </td>
                                <elseif condition="$v.is_area eq 3"/>
                                <td><div align="center">农业科技部</div> </td>
                            </if>
                            <td><div align="center">{$v.url}</div></td>
                            <if condition="$v.is_show eq 0">
                                <td><div align="center"><i class="icon-ok bigger-130 green"></i></div> </td>
                                <else />
                                <td><div align="center"><i class="icon-remove bigger-130 red"></i></div> </td>
                            </if>
                            <td><div align="center">{$v.add_time|date='Y-m-d H:i:s',###}</div></td>
                            <td> <div align="center">
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <!--<a href="customize_menus_add.html"> <i class="icon-pencil bigger-130"></i>&nbsp;添加 </a>-->
                                    <a class="green" href="{:U('upd',array('ad_id'=>$v['ad_id']))}"> <i class="icon-pencil bigger-130"></i>&nbsp;编辑 </a>
                                    <a class="red detail" href="{:U('del',array('ad_id'=>$v['ad_id']))}"> <i class="icon-trash bigger-130"></i>&nbsp;删除 </a>
                                </div>
                            </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
                <div class="green-black">{$page}</div>
            </div>
        </div>
        <!--/.box-->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->



