<div class="main">
<div class="banner_2">
	<a href="#"><span>设置</span>管理</a>
	<div><a href="__MODULE__/Blog/myzone">博客主页</a> | <a href="__MODULE__/Blog/createart">发表博文</a></div>
</div>
<aside>
	<span class="fr clo"><img src="{$Think.const.MIMG_URL}ion_6.png" alt=""></span>
	<p>个人信息</p>
	<div class="nametou"><img src="{$bloginfo.userhead}" alt=""><p>{$bloginfo.username}</p></div>
	<ul class="geren">
		<li>今日访问: <span>{$bloginfo.today}</span></li>
        <li>总访问量: <span>{$bloginfo.counts}</span></li>
        <li>开博时间: <span>{$bloginfo.ctime|date='Y-m-d',###}</span></li>
        <li>博客排名: <span>1023</span></li>
	</ul>
</aside>
<div class="banner_3">
	<img src="{$Think.const.MIMG_URL}banner.jpg" alt=""/>
	<dl>
		<dt></dt>
        <dd>{$bloginfo.blog_name}</dd>
        <dd>&nbsp;</dd>
        <dd>{$bloginfo.blog_desc}</dd>
	</dl>
</div>

<div class="tab">
<p class="xj-hdts fl pl0-5 pt0-5"><img src="{$Think.const.MIMG_URL}qianxleft1.png"></p> <p class="xj-hdts fr pr0-5 pt0-5"><img src="{$Think.const.MIMG_URL}qianxr1.png"></p>
	<div id="menu">
		<ul class="slide">
			<li><a href="__MODULE__/Blog/blogset">博客设置</a></li>
			<li><a href="__MODULE__/Blog/myarticles">博文管理</a></li>
			<li class="current"><a href="__MODULE__/Blog/mycomments">评论管理</a></li>
			<li><a href="__MODULE__/Blog/myclass">分类管理</a></li>
			<li><a href="__MODULE__/Blog/mycollect">收藏博文</a></li>
			<li><a href="__MODULE__/User/ucenter">个人中心</a></li>
			<li></li>
		</ul>
	</div>

	<div class="settmain comment show">
		<div class="bar">
			<span class="commentme on">评论我的</span>
			<span class="mycomment">我评论的</span>
		</div>
		<div class="commentmes pinglun show">
			<foreach name="commentme" item="info1">
			<div class="row">
				<div class="layer">
					<div class="content">
						<div href='__MODULE__/Blog/delcom/com_id/{$info1.com_id}' class="delcom" style="height:2.5rem;position: absolute;top: 0rem;right: 0rem;width: 1.5rem;height: 1.5rem;background: url(/Public/Mobile/images/close.png) no-repeat center;"></div>
						<figure>
							<img src="{$info1.userhead}" alt="头像">
						</figure>
						<div class="wrapper">
							<h4>{$info1.username}</h4>
							<p class="neirong">
								<strong>评论：</strong><a href="__MODULE__/Blog/detail/art_id/{$info1.art_id}">{$info1.title}</a>
							</p>
							<time>{$info1.add_time}</time>
						</div>
					</div>
					<p class="txt">
						{$info1.content}
					</p>
				</div>
			</div>
			</foreach>
		</div>
		<div class="mycomments pinglun">

		</div>
	</div>
	<div id="loading" style="display:none;float:left;width:100%;text-align:center;font-size:1.5rem;color:#999;background:#fff;line-height:2rem;height:2rem;margin-bottom:0.5rem;margin-top:0.5rem">没有更多数据</div>
    </div>
</div>
</div>
<script src="{$Think.const.MJS_URL}jquery-2.1.1.min.js"></script>
<script src="{$Think.const.MJS_URL}slidemenu.js"></script>
<script type="text/javascript">
	$(function(){
		$(".banner_3").click(function () {
		    if($("aside").css("display")=="none"){
		        $("aside").slideDown(300);
		    }else{
		        $("aside").slideUp(300);
		    }
		});
    });
</script>
<!-- 滚动加载 -->
<script type="text/javascript">
  $(function(){
  	var ismycomment = false;
    var scrollstatus1 = false;
    var scrollstatus2 = false;
    var scrollstatus;
    var haveend1 = false;
    var haveend2 = false;
    var nowpage1 = 1;
    var nowpage2 = 1;
    var comtype = 1;
    var recordslist = $(".commentmes");//(默认是评论我的)放数据的容器
    $(".commentme").click(function(){
    	comtype = 1;
    	recordslist = $(".commentmes");
    });
    $(".mycomment").click(function(){
    	comtype = 2;
    	recordslist = $(".mycomments");
    	if(!ismycomment){
    		scrollstatus2 = true;
    		ajax_request(recordslist,comtype,nowpage2);
    		ismycomment = true;
    	}
    })

    function ajax_request(obj,comtype,nowpage){
      var html = '';
      $.get("__MODULE__/Blog/mycomments",{'p':nowpage,'comtype':comtype},function(data){
        if(data.error == 0){
          for(var i in data.content){
            if(comtype == 1){
            	html += "<div class='row'><div class='layer'><div class='content'><div href='__MODULE__/Blog/delcom/com_id/"+data.content[i].com_id+"' class='delcom' style='height:2.5rem;position: absolute;top: 0rem;right: 0rem;width: 1.5rem;height: 1.5rem;background: url(/Public/Mobile/images/close.png) no-repeat center;'></div><figure><img src='"+data.content[i].userhead+"' alt='头像'></figure><div class='wrapper'><h4>"+data.content[i].username+"</h4><p class='neirong'><strong>评论：</strong><a href='__MODULE__/Blog/detail/art_id/"+data.content[i].art_id+"'>"+data.content[i].title+"</a></p><time>"+data.content[i].add_time+"</time></div></div><p class='txt'>"+data.content[i].content+"</p></div></div>";
            }
            if(comtype == 2){
            	html += "<div class='row'><div class='layer'><div class='content'><div  href='__MODULE__/Blog/delcom/com_id/"+data.content[i].com_id+"' class='delcom' style='position: absolute;height:2.5rem;top: 0rem;right: 0rem;width: 1.5rem;height: 1.5rem;background: url(/Public/Mobile/images/close.png) no-repeat center;'></div><div class='wrapper'><h4>评论：&nbsp;&nbsp;</h4><p class='neirong'><user style='color: #004084;font-weight: bold;'>"+data.content[i].username+"&nbsp;</user>的博文：<a href='__MODULE__/Blog/detail/art_id/"+data.content[i].art_id+"'>"+data.content[i].title+"</a></p><time>"+data.content[i].add_time+"</time></div></div><p class='txt'>"+data.content[i].content+"</p></div></div>";
            }
          }
        }else{
          if(comtype == 1){
          	if(!haveend1){
	           $("#loading").fadeIn(1000);$("#loading").fadeOut(1000);
	        }
	        haveend1 = true;
          }
          if(comtype == 2){
          	if(!haveend2){
	           $("#loading").fadeIn(1000);$("#loading").fadeOut(1000);
	        }
	        haveend2 = true;
          }
        }
		$(".pinglun").on('click','.delcom',function(){
			var url = $(this).attr('href');
			var thiobj = $(this).parents('.row');
			$.get(url,function(data){
				if(data == 'success'){
					thiobj.remove();
				}
			})
			return false;
		})
        obj.append(html);
        if(comtype == 1){
        	scrollstatus1 = false;
        }
        if(comtype == 2){
        	scrollstatus2 = false;
        }
      },false);
    }
    $(window).scroll(function () {
      var scrollTop = $(this).scrollTop();
      var scrollHeight = $(document).height();
      var windowHeight = $(this).height();
      var scrollstatus;
      if(comtype == 1){
      	scrollstatus = scrollstatus1;
      }
      if(comtype == 2){
      	scrollstatus = scrollstatus2;
      }
      if (scrollTop + windowHeight == scrollHeight && scrollstatus == false) {
      	if(comtype == 1){
      		scrollstatus1 = true;
	        nowpage1++;
	        if(!haveend1){
	          ajax_request(recordslist,comtype,nowpage1);
	        }
      	}
        if(comtype == 2){
      		scrollstatus2 = true;
	        nowpage2++;
	        if(!haveend2){
	          ajax_request(recordslist,comtype,nowpage2);
	        }
      	}
      }
    });
	$(".pinglun").on('click','.delcom',function(){
		var url = $(this).attr('href');
		var thiobj = $(this).parents('.row');
		$.get(url,function(data){
			if(data == 'success'){
				thiobj.remove();
			}
		})
		return false;
	})
   });
</script>

