{include file="header.html"}
<link rel="stylesheet" href="{url('/style/css/member.css')}">
<link rel="stylesheet" href="{url('/style/crowd/style/style.css')}">
<script type="text/javascript" src="/style/dp/WdatePicker.js"></script>
{include file="ur_here.html"}
<div id="container">
    <div class="fn-clear mt20 pb20">
        {include file="member/menu.html"}
        <div class="fn-right hy-r">
        <div class="hy-tjxh fn-clear">
            <ul class="fn-clear db-tab">
                <li><a href="{url('/crowd_member/support')}">我支持的</a></li>
                <li><a href="{url('/crowd_member/focus')}">我关注的</a></li>
                <li class="dq"><a href="{url('/crowd_member/start')}">我发起的</a></li>
            </ul>
            <div class="fn-clear mt20">
                    <form action="{url('/crowd_member/supportOrder/')}{{$id}}" method="get">
                    <div class="fn-right db-sxr">    <input type="submit" class="db-btn" value="搜索" /></div>
                    <div class="fn-right db-sxr">
                        <input type="text" placeholder="订单号" name="supportSn" class="dq-inpt" value="{{$g['supportSn']}}"/>
                        <select name="supportStatus1" class="dq-inpt">
                            <option value="-1" {if $g['supportStatus1'] eq '-1'}selected="selected"{/if}>交易状态</option>
                            <option value="0" {if $g['supportStatus1'] eq '0'}selected="selected"{/if}>未支付</option>
                            <option value="1" {if $g['supportStatus1'] eq '1'}selected="selected"{/if}>订单过期</option>
                            <option value="2" {if $g['supportStatus1'] eq '2'}selected="selected"{/if}>已支付</option>
                            <option value="3" {if $g['supportStatus1'] eq '3'}selected="selected"{/if}>已退款</option>
                        </select>
                        <select name="supportStatus2" class="dq-inpt">
                            <option value="-1" {if $g['supportStatus2'] eq '-1'}selected="selected"{/if}>中奖状态</option>
                            <option value="4" {if $g['supportStatus2'] eq '4'}selected="selected"{/if}>未中奖用户</option>
                            <option value="5" {if $g['supportStatus2'] eq '5'}selected="selected"{/if}>中奖（等待发货)</option>
                            <option value="6" {if $g['supportStatus2'] eq '6'}selected="selected"{/if}>中奖（已发货）</option>
                        </select>
                        <label>选择时间段：</label>
                        <input name="supportStartTime" type="text" onclick="WdatePicker()" class="dq-inpt" value="{{$g['supportStartTime']}}"/>
                        <label>-</label>
                        <input name="supportToTime" type="text"  onclick="WdatePicker()" class="dq-inpt" value="{{$g['supportToTime']}}"/>
                    </div>
                    
                    </form>
            </div>

            <div class="liat-table mt20">
                <ul>
                    <li class="li1" style="width:400px;">
                        <i>订单信息</i>
                    </li>
                    <li class="li2">
                        <i>实付款(元)</i>
                    </li>
                    <li class="li3">
                        <i>交易状态</i>
                    </li>
                    <li class="li3">
                        <i>中奖状态</i>
                    </li>
                    <li class="li4">
                        <i>操作</i>
                    </li>
                </ul>
                {if $list}
                {foreach from=$list item=support}
                <dl style="padding-bottom: 15px;">
                    <dd class="dd1" style="width:380px;">
                        <a href="{url('/crowd/detail/')}{$support.cd_id}"><img src="{zz mod=fileurl source=$support.thumb width=100 height=100}" /></a>
                        <h3>
                            <a href="{url('/crowd/detail/')}{$support.cd_id}">{$support.rt_name}</a>
                        </h3>
                        <p>
                            订单号：<a href="#" target="_blank">{{$support['support_sn']}}</a><br>
                            下单时间：{$support['support_created_time']|date_format:'Y-m-d H:i:s'}<br>
                            下单用户：{$support['member_username']}<br>
                        </p>
                    </dd>
                    <dd class="dd2">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <em>{$support.support_amount|price_format:2}</em>
                                </td>
                            </tr>
                        </table>
                    </dd>
                    <dd class="dd3">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <em>
                                        {if $support.support_status eq 0}
                                            未支付
                                        {elseif $support.support_status eq 1}
                                            订单过期（未支付）
                                        {elseif $support.support_status eq 2}
                                            已支付
                                        {elseif $support.support_status eq 3}
                                            已退款（人数已满）
                                        {elseif $support.support_status eq 4}
                                            已支付
                                        {elseif $support.support_status eq 5}
                                            已支付
                                        {elseif $support.support_status eq 6}
                                            已支付
                                        {/if}
                                    </em> 
                                </td>
                            </tr>

                        </table>

                    </dd>
                    <dd class="dd3">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <em>
                                        {if $support.support_status eq 4}
                                            未中奖
                                        {elseif $support.support_status eq 5}
                                            中奖（等待发货）
                                        {elseif $support.support_status eq 6}
                                            中奖（已发货）
                                        {/if}
                                    </em> 
                                </td>
                            </tr>

                        </table>

                    </dd>
                    <dd class="dd4">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    {if $support.support_status eq 5}<a href="{url('/crowd/step_base/')}{$row.cd_id}">发货</a>{/if}
                                </td>
                            </tr>
                        </table>
                    </dd>
                </dl>
            {/foreach}
            {else}

                <dl>
                    <dd>暂时没有相关记录</dd>
            </dl>

            {/if}
            </div>

            <div class="foot-btn">
                {include file="public_page.html"}
            </div>
        </div>

        </div>
     </div>
</div>
{include file="footer.html"}
