{include file="header.html"}
<link rel="stylesheet" href="{url('/style/css/member.css')}">
{include file="ur_here.html"}
<div id="container">
    <div class="fn-clear mt20 pb20">
        {include file="member/menu.html"}
        <div class="fn-right hy-r">
            <div class="fn-clear hy-tjxh">
                <div class="title">
                    <h2>晒单</h2>
                </div>
                <form action="" target="iframeNews" method="post" id="submit_form">
                <div class="hy-box">
                    <div class="hy-yhk">
                        <div class="prompt color04">每个订单只要有一次晒单机会，发布晒单您将获得1-5{$L.unit_db_points}的{$L.unit_jiangli}，好好把握机会吧！<s></s></div>
                        <table>
                            <tr>
                                <th>晒单商品：</th>
                                <td style="line-height: 48px"><table><tr><td width="70"><img src="{zz mod=fileurl source=$goods.thumb width=64 height=48 type=0}" width="64"/></td><td><a href="{$goods.url}" target="_blank">{$goods.title}</a></td></tr></table></td>
                            </tr>
                            <tr>
                                <th>晒单标题：</th>
                                <td>
                                    <input name="title" type="text" class="inpt-style2 w230" value="{$row.title}" /><span class="color01">*</span>
                                </td>
                            </tr>
                            <tr>
                                <th>晒单内容：</th>
                                <td>
                                    <textarea name="content" style="border: 1px solid #CFCFCF;padding:5px; width: 500px; height: 200px;">{$row.content}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>上传文件：</th>
                                <td>
                                    {upload_btn('share','','',6,'gif,jpg,jpeg,png,mp4,flv')}
                                    <div style="line-height:1.5;padding-top:10px;color:#777;font-size:14px;">
                                        <p class="mb15 color01">
                                            <b>
                                                支持图片和视频格式：gif,jpg,jpeg,png,mp4,flv；<br>
                                                请至少上传一张图片做封面，支持小视频格式；<br>
                                                单个文件大小不超过{ini_get('post_max_size')}！<br>
                                                请按以下要求晒单，系统审核通过后，才会给您{$L.unit_jiangli}哦！
                                            </b>
                                        </p>
                                        <p class="mb15">
                                            <b style="color:#444">普通晒单（<b class="color01" style="font-size:14px">{$site_config.share_db}个{$L.unit_db_points}</b>）内容要求包含>>>></b><br>
                                            1、{$L.unit_winning}感言；<br>
                                            2、{$L.unit_winning}商品真实拍摄照片；
                                        </p>
                                        <p class="mb15">
                                            <b style="color:#444">精华晒单（<b class="color01" style="font-size:14px">{$site_config.rec_share_db}个{$L.unit_db_points}</b>）内容要求包含>>>></b><br>
                                            1、刷脸和刷{$L.unit_winning}产品，合照图片清晰，无倒置图片（即：您或您的亲友与物品的开心合照）；<br>
                                            2、{$L.unit_winning}短信通知截图、物品高清照；<br>
                                            2、文字言之有物，分享{$L.unit_winning}喜悦得当，寄语{$site_config.site_name}、正品、真实可信描述以及个人主观评价。
                                        </p>
                                        <p class="mb15">
                                            <b style="color:#444">随意晒单处理决定（扣除{$L.unit_pay_points}或{$L.unit_db_points}）>>>></b><br>
                                            1、晒单图片需要商品实拍图，晒单内容为{$L.unit_winning}感言或寄语；<br>
                                            2、随意截图和言论，都将被扣除1至10个{$L.unit_pay_points}或者{$L.unit_db_points}。
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th> &nbsp;</th>
                                <td class="">
                                    <input type="hidden" name="Submit" value="1">
                                    <input type="submit" value="提交晒单" class="hy-btn2 fn-left" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </form>
            </div>
        </div>
     </div>
</div>
{include file="footer.html"}