{include file="header.html"}
<link rel="stylesheet" href="{url('/style/css/member.css')}">
{include file="ur_here.html"}
<div id="container">
    <div class="fn-clear mt20 pb20">
        {include file="member/menu.html"}
        <div class="fn-right hy-r">

            <div class="fn-clear hy-tjxh">
                <div class="title">
                    <h2>安全信息</h2>
                </div>
                <div class="hy-box">
                    <div class="hy-yhk">
                        <p class="hy-ts1">实名认证有利于提升账号的安全性和信任级别，请使用真实的身份证进行实名认证，<strong class="color01">经验证身份证姓名和证号不符，有人为处理的，将扣十元{$L.unit_baozheng}，</strong>感谢您对{$site_config.site_name}的支持！</p>
                        {if $verify && $verify.status neq 3}
                        {if $verify.status eq 1}<h2 class="color01">您提交的认证身份证，我们正在审核中请耐心等待！</h2>{/if}
                        <table>
                            <tr>
                                <th>姓名：</th>
                                <td>{$verify.realname}</td>
                            </tr>
                            <tr>
                                <th>身份证号：</th>
                                <td>
                                    {$verify.card}
                                </td>
                            </tr>
                            <tr>
                                <th>身份证正面照：</th>
                                <td><img src="{zz mod=fileurl source=$verify.card_image width=320 height=200 type=1 dir='idcard'}" id="idcard"/></td>
                            </tr>
                            <tr>
                                <th>身份证反面照：</th>
                                <td><img src="{zz mod=fileurl source=$verify.card_image2 width=320 height=200 type=1 dir='idcard'}" id="idcard2"/></td>
                            </tr>
                            <tr>
                                <th> &nbsp;</th>
                                <td class="">
                                    <input type="button" value="返回" class="hy-btn2" onclick="window.history.go(-1)" />
                                </td>
                            </tr>
                        </table>
                        {else}
                        {if $verify.remark}<h2 class="color01">未通过审核，请重新提交认证(拒绝理由-{$verify.remark})！</h2>{/if}
                        <form action="" target="iframeNews" method="post" id="submit_form">
                        <table>
                            <tr>
                                <th>姓名：</th>
                                <td><input name="realname" type="text" class="inpt-style2" /> <label id="Label1"> (请填写您身份证上的名字)</label></td>
                            </tr>
                            <tr>
                                <th>身份证号：</th>
                                <td>
                                    <input name="card" type="text" class="inpt-style2 w230" /> <label id="Label1"> (请填写真实的身份证号码，身份证号码是18位)</label>
                                </td>
                            </tr>
                            <tr>
                                <th>身份证正面照：</th>
                                <td>
                                    <div class="fn-clear mt10">
                                        <img src="{zz mod=fileurl source=$idcard type=1 nopic='/upload/idcard.jpg' dir='idcard'}" width="350"  id="idcard"/>
                                    </div>
                                    {upload_btn('idcard',500,500)}<label id="Label1">(请确保身份证全部信息清晰)</label>
                                </td>
                            </tr>
                            <tr>
                                <th>身份证反面照：</th>
                                <td>
                                    <div class="fn-clear mt10">
                                        <img src="{zz mod=fileurl source=$idcard type=1 nopic='/upload/idcard2.jpg' dir='idcard'}" width="350"  id="idcard2"/>
                                    </div>
                                    {upload_btn('idcard2',500,500)}<label id="Label1">(请确保身份证背面全部信息清晰)</label>
                                    <div class="color01">如果身份证实名认证，审核不通过。再次审核，将被要求提供手持身份证正反面照。</div>
                                </td>
                            </tr>
                            {if $site_config.sms_open eq 1 && 'sms_idcard'|statusTpl}
                            <tr>
                               <th>短信验证码</th>
                               <td><input type="text" name="sms_code" value=""><input type="button" value="获取短信验证码" onclick="getSmsVerify('sms_idcard')" id="btnSms" /></td>
                            </tr>
                            {/if}
                            <tr>
                                <th> &nbsp;</th>
                                <td class="">
                                    <input type="hidden" name="Submit" value="1">
                                    <input type="submit" value="确定" class="hy-btn2 fn-left" />
                                    <input type="button" value="返回" class="hy-btn2" onclick="window.history.go(-1)" />
                                </td>
                            </tr>
                        </table>
                        </form>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="footer.html"}