.paiList li { padding:10px; border-bottom: 1px solid #e6e6e6; position: relative; }
.paiList li .pic {width:110px;-webkit-box-align:center;-moz-box-pack:center;position: relative;}
.paiList li .pic a{border: 1px solid #f2f2f2; width:100px; height:100px; display: block; overflow: hidden;}
.paiList li .pic span{ position: absolute;left: 0;top: 0;width:20px;}
.paiList li .pic span img{width: 100%;}
.paiList li .info {line-height: 18px; color: #434343;font-size: 12px; margin:3px 15px; -moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.paiList li .price{margin:2px 0 10px;}
.paiList li .title {white-space: nowrap;text-overflow:ellipsis; overflow:hidden; }
.paiList li .txt{line-height:32px;}
.paiList li .info .flex_con ins{text-decoration: none;color: #e54048;}
.paiList li .yungou-buy{width:20px;}
.add-btn {
    width: 34px;
    height: 34px;
    border: 0px none;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    line-height: 34px;
    color: #e54048;
    background: none; position: absolute;right:5px;top: 50%;margin-top: -17px;
}
.add-btn i.iconfont{font-size:26px;}
.filter_tit{display: -webkit-box;display: -webkit-flex; display: flex; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; }
.filter_tit i.icon-xiala{font-size:3px;}
.filter_tit div{width:50%; background:#f7f7f7; text-align:center; line-height:3rem; font-size:1.2rem;}
.filter_tit div.active{background:#e6e6e6;}
.filter_tit div.order{border-left:1px solid #e6e6e6;}
.filter_bar{background:#fff; width:100%; position:absolute; z-index:5;}
.filter_bar ul{padding:0 1rem; display: none;}
.filter_bar ul li{border-bottom:1px solid #e4e4e4; line-height:3rem; padding:0 1rem; color:#999999;}
.filter_bar ul li.active{color:#ff6600;}

.view-bg{ position: relative;}
.cate {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background: #fff;
    height: 0px;
    overflow: hidden;
}
.cate ul{ margin:0 10px; }
.cate li{ float: left; width: 33.3%; height: 35px; overflow: hidden; line-height: 35px; border-bottom: 1px solid #D5D5D5; }
.cate li.hover{color:#e74e56;}

.pro-view { background: #fff; position: relative;}
.goodList li { padding:10px; height:auto; border-bottom: 1px solid #e6e6e6; position: relative;}
.goodList li .pic { width:100px; position: relative;border: 1px solid #f2f2f2;}
.goodList li .pic em{display: block; position: absolute; width: 92px; height: 81px; overflow: hidden; background: url('../images/ico-jx.png') no-repeat; left:0;top:0;}
.goodList .tip { position: absolute; top:-5px; right:-5px; width: 57px; height: 55px; line-height: 20px; padding:7px 0 8px 2px; background: url("../images/tip.png") no-repeat; color: #fff; font-family: "宋体"; font-weight: bold; font-size:18px; text-align: center;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -moz-transform: scale(0.5,0.5);
    -webkit-transform: scale(0.5,0.5);
    -o-transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    transform: scale(0.6,0.6);
}
.goodList li .info p a{font-size: 1.2em;}
.goodList .tip i { font-family: Arial;}
.goodList li .info { padding-left:20px; line-height:1.5em; color: #898989;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.goodList li .title{ margin-bottom: 5px; }
.goodList li .title a { color: #898989;}
.goodList li .price{ margin-bottom:5px; }
.goodList li .btn-pai{ position: absolute; right: 20px; bottom: 35px;  display: block; width: 50px; height: 24px; line-height: 24px; border-radius: 5px; overflow: hidden; text-align: center; background: #e54048; font-size: 1.4rem; color: #fff; display: none; }
.goodList li .count font span{padding:0 2px; color:#fff;}
.goodList li .good-list{width:50px; margin-top: 25px;height: 50px;border-radius: 50%; overflow: hidden;}
.goodList li .good-list img{ width: 100%;}
.count {
    background: #F60 none repeat scroll 0% 0%;
    font-size: 14px;
    color: #FFF;
    display: inline-block;
    padding: 2px 10px;
}