
        <div class="main">
            <div class="yeBox">
                <div class="yeBoxIn">
                    <div class="yeTit">
                        <span>当前余额</span>
                        <span>0.00<em>元</em></span>
                    </div>
                    <a href="#" class="czVip">充值</a>
                </div>
            </div>
            <div class="yeBox shuom">
                <div class="shuomIn">
                    <p>VIP1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一次性充值2000，赠200，余额2200</p>
                    <p>VIP2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一次性充值5000，赠500，余额5500</p>
                </div>
                <p class="foucsVip">最近30天收支明细</p>
            </div>
            <div class="IncomeDetail">
                <div class="IncomeDetailNone">
                    <img src="{$Think.const.MBIMG_URL}mingx.jpg">
                    <span>无收支明细</span>
                </div>
            </div>
        </div>
    </div>

 