
        <div class="main">
        <form action="__MODULE__/Patient/xinxi" method="post">
            <ul class="userList zrXx">
                <li class="borBot">
                    <a href="#">
                        姓名  
                        <span><input style="text-align:right;color:#636363" type="text" name="username" value="{$userInfo.username}"></span>                      
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        性别                        
                         <span style="color:#636363"><input type="radio" style="background:#d1d1d1;" name="sex" value="0" {$userInfo['sex']?"":"checked"}>女<input type="radio"style="background:#d1d1d1;" name="sex" value="1" {$userInfo['sex']?"checked":""}>男</span>
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        年龄   
                        <span><input style="text-align:right;color:#636363" type="text" name="age" value="{$userInfo.age}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                       城市  
                        <span>
                            <select name="province_id" class="province selectarea">
                                <option value="0"><if condition="$userInfo.city eq ''">省<else />{$userInfo.city}</if></option>
                                <foreach name="provincelist" item="provinceinfo">
                                <option value="{$provinceinfo.id}">{$provinceinfo.name}</option>
                                </foreach>
                            </select>
                            <select name="city_id" class="city selectarea selectareahd">
                            </select>
                            <select name="country_id" class="country selectarea selectareahd">
                            </select>
                        </span>      
                        <input type="hidden" name="city" value="{$userInfo.city}">                  
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        居住地址   
                        <span><input style="text-align:right;color:#636363" type="text" name="area" value="{$userInfo.area}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        联系电话   
                        <span><input style="text-align:right;color:#636363" type="text" name="iphone" value="{$userInfo.iphone}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
                <li class="borBot">
                    <a href="#">
                        与患者关系   
                        <span><input style="text-align:right;color:#636363" type="text" name="relationship" value="{$userInfo.relationship}"></span>                        
                        <i class="moreUser"></i>
                    </a>
                </li>
            </ul>
            <div class="updateBox">
                <button class="submit updateBtn">保 存</button>
            </div>
            <script type="text/javascript">
                $(function(){
                    var provinceid,cityid,countryid; 
                    var provincename,cityname,countryname;
                    var areaname;
                    $(".province").change(function(){
                        var index = $(this).get(0).selectedIndex;
                        if(index == 0){
                            return;
                        }else{
                            $(".city").removeClass("selectareahd").siblings('.selectarea').addClass('selectareahd');
                            provinceid = $(this).val();
                            provincename = $(".province option:selected").text();
                            //alert(provincename);
                            $.post("__MODULE__/Patient/getcity",{'upid':provinceid},function(data){
                                if(data.error ==  1){

                                }else{
                                    var cityhtml = "<option value='0'>市</option>";
                                    var datalist = data.content;
                                    for(var i in datalist){
                                        cityhtml+="<option value='"+datalist[i].id+"'>"+datalist[i].name+"</option>";
                                    }
                                    $(".city").eq(0).html(cityhtml);
                                }
                            })
                        }
                        //计算出选择省在数组中的下标
                    })
                    $(".city").change(function(){
                        var index = $(this).get(0).selectedIndex;
                        if(index == 0){
                            return;
                        }else{
                            $(".country").removeClass("selectareahd").siblings('.selectarea').addClass('selectareahd');
                            cityid = $(this).val();
                            cityname = $(".city option:selected").text();
                            //alert(cityid);
                            $.post("__MODULE__/Patient/getcity",{'upid':cityid},function(data){
                                if(data.error ==  1){

                                }else{
                                    var countryhtml = "<option value='0'>县/区</option>";
                                    var datalist = data.content;
                                    for(var i in datalist){
                                        countryhtml+="<option value='"+datalist[i].id+"'>"+datalist[i].name+"</option>";
                                    }
                                    $(".country").eq(0).html(countryhtml);
                                }
                            })
                        }
                        //计算出选择省在数组中的下标
                    })
                    $(".country").change(function(){
                        var index = $(this).get(0).selectedIndex;
                        if(index == 0){
                            return;
                        }else{
                            countryid = $(this).val();
                            countryname = $(".country option:selected").text();
                            areaname = provincename+cityname+'市'+countryname;
                            $(".country option:selected").text(areaname);
                            $("input[name='city']").val(areaname);
                        }
                    })
                })
                /*var cityPicker = new HzwCityPicker({
                    data: data,
                    target: 'cityChoice',
                    valType: 'k-v',
                    hideCityInput: {
                        name: 'city',
                        id: 'city'
                    },
                    hideProvinceInput: {
                        name: 'province',
                        id: 'province'
                    },
                    callback: function(){
                        
                    }
                });

                cityPicker.init();*/
            </script>
        </form>
        </div>
    </div>

 