<ul class="sumenu fl">
	<li>
		<a href="http://www.zghnj.com/index.php/Home/Technology/overview">技术概览</a>
		<a href="http://www.zghnj.com/index.php/Home/Technology/academicForum">学术园地</a>
		<a href="http://www.zghnj.com/index.php/Home/Technology/lectureRoom">大家讲堂</a>
	</li>
	<li>
		<a href="http://www.zghnj.com/index.php/Home/News/industries">行业新闻</a>
		<a href="http://www.zghnj.com/index.php/Home/News/activities">行业活动</a>
	</li>
	<li>
		<a href="http://www.zghnj.com/index.php/Home/Develop/overview">产业概览</a>
		<a href="http://www.zghnj.com/index.php/Home/Develop/material">工程材料与机具</a>
		<a href="http://www.zghnj.com/index.php/Home/Develop/designer">工程设计与施工</a>
		<a href="http://www.zghnj.com/index.php/Home/Develop/check">产品检验检测</a>
	</li>
	<li>
		<a href="http://www.zghnj.com/index.php/Home/Exhibition/product">产品系列</a>
		<a href="http://www.zghnj.com/index.php/Home/Exhibition/cases">应用案例</a>
		<a href="http://www.zghnj.com/index.php/Home/Exhibition/customer">应用客户</a>
	</li>
	<li>
		<a href="http://www.zghnj.com/index.php/Home/Communicate/knowledge">常识解答</a>
		<a href="http://www.zghnj.com/index.php/Home/Communicate/exclusive">会员专属</a>
		<a href="http://www.zghnj.com/index.php/Home/Communicate/analysis">经典解析</a>
	</li>
</ul>
