<div class="m-user-duobaoRecord">
    <div class="detail">
        <div class="goods">
            <div class="pic">
                <a title="{$db_info.goods_name}" href="{'/yunbuy/detail/'|cat:$db_info.buy_id|url}" target="_blank"><img src="{zz mod=fileurl source=$db_info.imgurl_thumb width=64 height=48 type=0}" width="64" height="48" alt="{$db_info.goods_name}"></a>
            </div>
            <div class="info info-simple">
                <div class="title"><a title="{$db_info.title}" href="{'/yunbuy/detail/'|cat:$db_info.buy_id|url}" target="_blank"><span class="txt-impt">(第{$db_info.qishu}期) </span>{$db_info.title}</a></div>
                <div class="opt" style="width: 60px; height: 20px;">{if $db_info.end_num}<a href="{'/yunbuy/detail/'|cat:$db_info.buy_id|url}" target="_blank" class="w-button w-button-s"><span>跟买</span></a>{/if}</div>
            </div>
        </div>
        <div class="summary">
            本期{$L.unit_price}该用户总共参与了{$db_info.qty}人次，拥有{$db_info.qty}个{$L.unit_yun}号码
            <a href="{'/minfo?id='|cat:$member.mid|url}" class="js-back back">&lt;&lt;返回列表</a>
        </div>
        <div id="dvContainer">
            <table class="w-table">
                <thead>
                <tr>
                    <th class="col1">{$L.unit_yun}时间</th>
                    <th class="col2">参与人次</th>
                    <th class="col3">{$L.unit_yun}号码</th>
                </tr>
                </thead>
                <tbody>
                {foreach from=$list item=m}
                <tr>
                    <td class="col1" valign="top">{microtime_format($m.db_time,'Y-m-d H:i:s.x')}</td>
                    <td class="col2" valign="top">{$m.qty}人次</td>
                    <td class="col3" valign="top">
                        <ul class="codeList">
                            {foreach from=$m.yun_code item=c}
                            <li class="item {if $m.luck_code eq $c}fwb color02{/if}">{$c}</li>
                            {/foreach}
                        </ul>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <div class="summary summary-bottom">
            <a href="{'/minfo?id='|cat:$member.mid|url}" class="js-back back">&lt;&lt;返回列表</a>
        </div>
    </div>
</div>